Import Libraries

In [1]:
import scipy as sp
from scipy import optimize
from scipy.optimize import fsolve
from scipy import interpolate

# Import pandas
import pandas as pd

# Import numpy
import numpy as np
from numpy import * 
from numpy.linalg import multi_dot
import numpy_financial as npf

# Plot settings
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['figure.figsize'] = 16, 8

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# IBT or Pension or Retirement
PLAN = 'IBT'

# % Probability of Sponsor Not Contributing Service Costs
UPS_Contr_Pctg = .05

# Target Years to be "Fully Funded"
Years_to_FF = 20

# Target Fully Funded Ratio
FF_FR = 1.05

In [2]:
df_CF = pd.read_excel("2021_PBO_CF.xlsx",sheet_name = "PBO Cashflows Summary", skiprows = [0,1,2], usecols=[0,1,2,3,4], na_values=[""],index_col=0)
#dataset.set_index('Year')
df_CF

            Time    Retirement       Pension           IBT
Year
2021-12-31   0.5  1.204791e+09  2.626341e+08  4.239987e+08
2022-12-31   1.5  1.261684e+09  2.935988e+08  4.570359e+08
2023-12-31   2.5  1.322496e+09  3.253961e+08  4.883641e+08
2024-12-31   3.5  1.382473e+09  3.576365e+08  5.168109e+08
2025-12-31   4.5  1.441835e+09  3.898680e+08  5.408954e+08
...          ...           ...           ...           ...
2096-12-31  75.5  1.769334e+05  3.948190e+06  1.620103e+06
2097-12-31  76.5  1.503230e+05  2.959047e+06  1.183430e+06
2098-12-31  77.5  1.300395e+05  2.180928e+06  8.499443e+05
2099-12-31  78.5  1.152802e+05  1.579033e+06  5.996743e+05
2100-12-31  79.5  1.039848e+05  1.121814e+06  4.153039e+05

[80 rows x 4 columns]

In [3]:
df_CF = df_CF.divide(12)
df_CF

                Time    Retirement       Pension           IBT
Year
2021-12-31  0.041667  1.003993e+08  2.188617e+07  3.533322e+07
2022-12-31  0.125000  1.051403e+08  2.446657e+07  3.808632e+07
2023-12-31  0.208333  1.102080e+08  2.711634e+07  4.069701e+07
2024-12-31  0.291667  1.152061e+08  2.980304e+07  4.306757e+07
2025-12-31  0.375000  1.201529e+08  3.248900e+07  4.507462e+07
...              ...           ...           ...           ...
2096-12-31  6.291667  1.474445e+04  3.290158e+05  1.350085e+05
2097-12-31  6.375000  1.252692e+04  2.465872e+05  9.861913e+04
2098-12-31  6.458333  1.083662e+04  1.817440e+05  7.082869e+04
2099-12-31  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-12-31  6.625000  8.665401e+03  9.348450e+04  3.460866e+04

[80 rows x 4 columns]

In [4]:
df=df_CF.copy()

#set start date and end date
start_date = df.index.min() - pd.DateOffset(day=0)
end_date = df.index.max() + pd.DateOffset(day=31)

#create new dataframe monthly index
dates = pd.date_range(start_date, end_date, freq='M')
dates.name = 'date'

#reindex yearly dataframe to monthly dataframe
df = df.reindex(dates, method='ffill')

#export monthly dataframe to excel
#filepath = 'monthly_data.xlsx'
#writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
#df.to_excel(writer, sheet_name='data')
#writer.save()
df_CF = df
df_CF

                Time    Retirement       Pension           IBT
date
2021-12-31  0.041667  1.003993e+08  2.188617e+07  3.533322e+07
2022-01-31  0.041667  1.003993e+08  2.188617e+07  3.533322e+07
2022-02-28  0.041667  1.003993e+08  2.188617e+07  3.533322e+07
2022-03-31  0.041667  1.003993e+08  2.188617e+07  3.533322e+07
2022-04-30  0.041667  1.003993e+08  2.188617e+07  3.533322e+07
...              ...           ...           ...           ...
2100-08-31  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-09-30  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-10-31  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-11-30  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-12-31  6.625000  8.665401e+03  9.348450e+04  3.460866e+04

[949 rows x 4 columns]

In [5]:
df_CF_add = pd.read_excel("2021 Liability Cash Flows.xlsx",sheet_name = "CF", usecols=[0,1,2,3,4], na_values=[""],index_col=0)
#dataset.set_index('Year')
df_CF_add

                Time    Retirement     Pension          IBT
date
2021-10-31  0.083333  9.387313e+07  19389650.5  31075638.75
2021-11-30  0.166667  9.387313e+07  19389650.5  31075638.75
2021-12-31  0.250000  9.387313e+07  19389650.5  31075638.75

In [6]:
df_CF  = df_CF_add.append(df_CF)
df_CF

                Time    Retirement       Pension           IBT
date
2021-10-31  0.083333  9.387313e+07  1.938965e+07  3.107564e+07
2021-11-30  0.166667  9.387313e+07  1.938965e+07  3.107564e+07
2021-12-31  0.250000  9.387313e+07  1.938965e+07  3.107564e+07
2021-12-31  0.041667  1.003993e+08  2.188617e+07  3.533322e+07
2022-01-31  0.041667  1.003993e+08  2.188617e+07  3.533322e+07
...              ...           ...           ...           ...
2100-08-31  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-09-30  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-10-31  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-11-30  6.541667  9.606686e+03  1.315861e+05  4.997286e+04
2100-12-31  6.625000  8.665401e+03  9.348450e+04  3.460866e+04

[952 rows x 4 columns]

In [7]:
from itertools import count, takewhile
def frange(start, stop, step):
        return takewhile(lambda x: x< stop, count(start, step))
t = list(frange((1/12), 79.41666666666, (1/12)))

In [8]:
df_t=pd.DataFrame(t)
df_t

             0
0     0.083333
1     0.166667
2     0.250000
3     0.333333
4     0.416667
..         ...
947  79.000000
948  79.083333
949  79.166667
950  79.250000
951  79.333333

[952 rows x 1 columns]

In [9]:
df_CF['Time'] = df_t.values
df_CF

                 Time    Retirement       Pension           IBT
date
2021-10-31   0.083333  9.387313e+07  1.938965e+07  3.107564e+07
2021-11-30   0.166667  9.387313e+07  1.938965e+07  3.107564e+07
2021-12-31   0.250000  9.387313e+07  1.938965e+07  3.107564e+07
2021-12-31   0.333333  1.003993e+08  2.188617e+07  3.533322e+07
2022-01-31   0.416667  1.003993e+08  2.188617e+07  3.533322e+07
...               ...           ...           ...           ...
2100-08-31  79.000000  9.606686e+03  1.315861e+05  4.997286e+04
2100-09-30  79.083333  9.606686e+03  1.315861e+05  4.997286e+04
2100-10-31  79.166667  9.606686e+03  1.315861e+05  4.997286e+04
2100-11-30  79.250000  9.606686e+03  1.315861e+05  4.997286e+04
2100-12-31  79.333333  8.665401e+03  9.348450e+04  3.460866e+04

[952 rows x 4 columns]

In [10]:
#IBT = df_CF[PLAN]
#RP = df_CF[PLAN]
CF = np.array(df_CF[PLAN])
Time_CF = df_CF.index
DF = np.array(df_CF['Time'])
CF

array([3.10756388e+07, 3.10756388e+07, 3.10756388e+07, 3.53332242e+07,
       3.53332242e+07, 3.53332242e+07, 3.53332242e+07, 3.53332242e+07,
       3.53332242e+07, 3.53332242e+07, 3.53332242e+07, 3.53332242e+07,
       3.53332242e+07, 3.53332242e+07, 3.53332242e+07, 3.80863224e+07,
       3.80863224e+07, 3.80863224e+07, 3.80863224e+07, 3.80863224e+07,
       3.80863224e+07, 3.80863224e+07, 3.80863224e+07, 3.80863224e+07,
       3.80863224e+07, 3.80863224e+07, 3.80863224e+07, 4.06970095e+07,
       4.06970095e+07, 4.06970095e+07, 4.06970095e+07, 4.06970095e+07,
       4.06970095e+07, 4.06970095e+07, 4.06970095e+07, 4.06970095e+07,
       4.06970095e+07, 4.06970095e+07, 4.06970095e+07, 4.30675742e+07,
       4.30675742e+07, 4.30675742e+07, 4.30675742e+07, 4.30675742e+07,
       4.30675742e+07, 4.30675742e+07, 4.30675742e+07, 4.30675742e+07,
       4.30675742e+07, 4.30675742e+07, 4.30675742e+07, 4.50746205e+07,
       4.50746205e+07, 4.50746205e+07, 4.50746205e+07, 4.50746205e+07,
       4.50746205e+07, 4.50746205e+07, 4.50746205e+07, 4.50746205e+07,
       4.50746205e+07, 4.50746205e+07, 4.50746205e+07, 4.69291030e+07,
       4.69291030e+07, 4.69291030e+07, 4.69291030e+07, 4.69291030e+07,
       4.69291030e+07, 4.69291030e+07, 4.69291030e+07, 4.69291030e+07,
       4.69291030e+07, 4.69291030e+07, 4.69291030e+07, 4.86028114e+07,
       4.86028114e+07, 4.86028114e+07, 4.86028114e+07, 4.86028114e+07,
       4.86028114e+07, 4.86028114e+07, 4.86028114e+07, 4.86028114e+07,
       4.86028114e+07, 4.86028114e+07, 4.86028114e+07, 5.00102925e+07,
       5.00102925e+07, 5.00102925e+07, 5.00102925e+07, 5.00102925e+07,
       5.00102925e+07, 5.00102925e+07, 5.00102925e+07, 5.00102925e+07,
       5.00102925e+07, 5.00102925e+07, 5.00102925e+07, 5.11884969e+07,
       5.11884969e+07, 5.11884969e+07, 5.11884969e+07, 5.11884969e+07,
       5.11884969e+07, 5.11884969e+07, 5.11884969e+07, 5.11884969e+07,
       5.11884969e+07, 5.11884969e+07, 5.11884969e+07, 5.21832080e+07,
       5.21832080e+07, 5.21832080e+07, 5.21832080e+07, 5.21832080e+07,
       5.21832080e+07, 5.21832080e+07, 5.21832080e+07, 5.21832080e+07,
       5.21832080e+07, 5.21832080e+07, 5.21832080e+07, 5.30820606e+07,
       5.30820606e+07, 5.30820606e+07, 5.30820606e+07, 5.30820606e+07,
       5.30820606e+07, 5.30820606e+07, 5.30820606e+07, 5.30820606e+07,
       5.30820606e+07, 5.30820606e+07, 5.30820606e+07, 5.38557641e+07,
       5.38557641e+07, 5.38557641e+07, 5.38557641e+07, 5.38557641e+07,
       5.38557641e+07, 5.38557641e+07, 5.38557641e+07, 5.38557641e+07,
       5.38557641e+07, 5.38557641e+07, 5.38557641e+07, 5.44732607e+07,
       5.44732607e+07, 5.44732607e+07, 5.44732607e+07, 5.44732607e+07,
       5.44732607e+07, 5.44732607e+07, 5.44732607e+07, 5.44732607e+07,
       5.44732607e+07, 5.44732607e+07, 5.44732607e+07, 5.49140141e+07,
       5.49140141e+07, 5.49140141e+07, 5.49140141e+07, 5.49140141e+07,
       5.49140141e+07, 5.49140141e+07, 5.49140141e+07, 5.49140141e+07,
       5.49140141e+07, 5.49140141e+07, 5.49140141e+07, 5.52390189e+07,
       5.52390189e+07, 5.52390189e+07, 5.52390189e+07, 5.52390189e+07,
       5.52390189e+07, 5.52390189e+07, 5.52390189e+07, 5.52390189e+07,
       5.52390189e+07, 5.52390189e+07, 5.52390189e+07, 5.55906379e+07,
       5.55906379e+07, 5.55906379e+07, 5.55906379e+07, 5.55906379e+07,
       5.55906379e+07, 5.55906379e+07, 5.55906379e+07, 5.55906379e+07,
       5.55906379e+07, 5.55906379e+07, 5.55906379e+07, 5.59722150e+07,
       5.59722150e+07, 5.59722150e+07, 5.59722150e+07, 5.59722150e+07,
       5.59722150e+07, 5.59722150e+07, 5.59722150e+07, 5.59722150e+07,
       5.59722150e+07, 5.59722150e+07, 5.59722150e+07, 5.62805790e+07,
       5.62805790e+07, 5.62805790e+07, 5.62805790e+07, 5.62805790e+07,
       5.62805790e+07, 5.62805790e+07, 5.62805790e+07, 5.62805790e+07,
       5.62805790e+07, 5.62805790e+07, 5.62805790e+07, 5.64611051e+07,
       5.64611051e+07, 5.64611051e+07, 5.64611051e+07, 5.64611051e+07,
       5.64611051e+07, 5.64611051e+07, 5.64611051e+07, 5.64611051e+07,
       5.64611051e+07, 5.64611051e+07, 5.64611051e+07, 5.64981158e+07,
       5.64981158e+07, 5.64981158e+07, 5.64981158e+07, 5.64981158e+07,
       5.64981158e+07, 5.64981158e+07, 5.64981158e+07, 5.64981158e+07,
       5.64981158e+07, 5.64981158e+07, 5.64981158e+07, 5.63831820e+07,
       5.63831820e+07, 5.63831820e+07, 5.63831820e+07, 5.63831820e+07,
       5.63831820e+07, 5.63831820e+07, 5.63831820e+07, 5.63831820e+07,
       5.63831820e+07, 5.63831820e+07, 5.63831820e+07, 5.61116761e+07,
       5.61116761e+07, 5.61116761e+07, 5.61116761e+07, 5.61116761e+07,
       5.61116761e+07, 5.61116761e+07, 5.61116761e+07, 5.61116761e+07,
       5.61116761e+07, 5.61116761e+07, 5.61116761e+07, 5.56990879e+07,
       5.56990879e+07, 5.56990879e+07, 5.56990879e+07, 5.56990879e+07,
       5.56990879e+07, 5.56990879e+07, 5.56990879e+07, 5.56990879e+07,
       5.56990879e+07, 5.56990879e+07, 5.56990879e+07, 5.51351071e+07,
       5.51351071e+07, 5.51351071e+07, 5.51351071e+07, 5.51351071e+07,
       5.51351071e+07, 5.51351071e+07, 5.51351071e+07, 5.51351071e+07,
       5.51351071e+07, 5.51351071e+07, 5.51351071e+07, 5.44075331e+07,
       5.44075331e+07, 5.44075331e+07, 5.44075331e+07, 5.44075331e+07,
       5.44075331e+07, 5.44075331e+07, 5.44075331e+07, 5.44075331e+07,
       5.44075331e+07, 5.44075331e+07, 5.44075331e+07, 5.35265764e+07,
       5.35265764e+07, 5.35265764e+07, 5.35265764e+07, 5.35265764e+07,
       5.35265764e+07, 5.35265764e+07, 5.35265764e+07, 5.35265764e+07,
       5.35265764e+07, 5.35265764e+07, 5.35265764e+07, 5.24875699e+07,
       5.24875699e+07, 5.24875699e+07, 5.24875699e+07, 5.24875699e+07,
       5.24875699e+07, 5.24875699e+07, 5.24875699e+07, 5.24875699e+07,
       5.24875699e+07, 5.24875699e+07, 5.24875699e+07, 5.12998771e+07,
       5.12998771e+07, 5.12998771e+07, 5.12998771e+07, 5.12998771e+07,
       5.12998771e+07, 5.12998771e+07, 5.12998771e+07, 5.12998771e+07,
       5.12998771e+07, 5.12998771e+07, 5.12998771e+07, 4.99792771e+07,
       4.99792771e+07, 4.99792771e+07, 4.99792771e+07, 4.99792771e+07,
       4.99792771e+07, 4.99792771e+07, 4.99792771e+07, 4.99792771e+07,
       4.99792771e+07, 4.99792771e+07, 4.99792771e+07, 4.90140110e+07,
       4.90140110e+07, 4.90140110e+07, 4.90140110e+07, 4.90140110e+07,
       4.90140110e+07, 4.90140110e+07, 4.90140110e+07, 4.90140110e+07,
       4.90140110e+07, 4.90140110e+07, 4.90140110e+07, 5.44489658e+07,
       5.44489658e+07, 5.44489658e+07, 5.44489658e+07, 5.44489658e+07,
       5.44489658e+07, 5.44489658e+07, 5.44489658e+07, 5.44489658e+07,
       5.44489658e+07, 5.44489658e+07, 5.44489658e+07, 5.82370811e+07,
       5.82370811e+07, 5.82370811e+07, 5.82370811e+07, 5.82370811e+07,
       5.82370811e+07, 5.82370811e+07, 5.82370811e+07, 5.82370811e+07,
       5.82370811e+07, 5.82370811e+07, 5.82370811e+07, 5.50350001e+07,
       5.50350001e+07, 5.50350001e+07, 5.50350001e+07, 5.50350001e+07,
       5.50350001e+07, 5.50350001e+07, 5.50350001e+07, 5.50350001e+07,
       5.50350001e+07, 5.50350001e+07, 5.50350001e+07, 5.17818147e+07,
       5.17818147e+07, 5.17818147e+07, 5.17818147e+07, 5.17818147e+07,
       5.17818147e+07, 5.17818147e+07, 5.17818147e+07, 5.17818147e+07,
       5.17818147e+07, 5.17818147e+07, 5.17818147e+07, 4.85063729e+07,
       4.85063729e+07, 4.85063729e+07, 4.85063729e+07, 4.85063729e+07,
       4.85063729e+07, 4.85063729e+07, 4.85063729e+07, 4.85063729e+07,
       4.85063729e+07, 4.85063729e+07, 4.85063729e+07, 4.58183658e+07,
       4.58183658e+07, 4.58183658e+07, 4.58183658e+07, 4.58183658e+07,
       4.58183658e+07, 4.58183658e+07, 4.58183658e+07, 4.58183658e+07,
       4.58183658e+07, 4.58183658e+07, 4.58183658e+07, 4.33030585e+07,
       4.33030585e+07, 4.33030585e+07, 4.33030585e+07, 4.33030585e+07,
       4.33030585e+07, 4.33030585e+07, 4.33030585e+07, 4.33030585e+07,
       4.33030585e+07, 4.33030585e+07, 4.33030585e+07, 4.03154631e+07,
       4.03154631e+07, 4.03154631e+07, 4.03154631e+07, 4.03154631e+07,
       4.03154631e+07, 4.03154631e+07, 4.03154631e+07, 4.03154631e+07,
       4.03154631e+07, 4.03154631e+07, 4.03154631e+07, 3.74077617e+07,
       3.74077617e+07, 3.74077617e+07, 3.74077617e+07, 3.74077617e+07,
       3.74077617e+07, 3.74077617e+07, 3.74077617e+07, 3.74077617e+07,
       3.74077617e+07, 3.74077617e+07, 3.74077617e+07, 3.45978304e+07,
       3.45978304e+07, 3.45978304e+07, 3.45978304e+07, 3.45978304e+07,
       3.45978304e+07, 3.45978304e+07, 3.45978304e+07, 3.45978304e+07,
       3.45978304e+07, 3.45978304e+07, 3.45978304e+07, 3.18995832e+07,
       3.18995832e+07, 3.18995832e+07, 3.18995832e+07, 3.18995832e+07,
       3.18995832e+07, 3.18995832e+07, 3.18995832e+07, 3.18995832e+07,
       3.18995832e+07, 3.18995832e+07, 3.18995832e+07, 2.93233826e+07,
       2.93233826e+07, 2.93233826e+07, 2.93233826e+07, 2.93233826e+07,
       2.93233826e+07, 2.93233826e+07, 2.93233826e+07, 2.93233826e+07,
       2.93233826e+07, 2.93233826e+07, 2.93233826e+07, 2.68787931e+07,
       2.68787931e+07, 2.68787931e+07, 2.68787931e+07, 2.68787931e+07,
       2.68787931e+07, 2.68787931e+07, 2.68787931e+07, 2.68787931e+07,
       2.68787931e+07, 2.68787931e+07, 2.68787931e+07, 2.45721403e+07,
       2.45721403e+07, 2.45721403e+07, 2.45721403e+07, 2.45721403e+07,
       2.45721403e+07, 2.45721403e+07, 2.45721403e+07, 2.45721403e+07,
       2.45721403e+07, 2.45721403e+07, 2.45721403e+07, 2.24057361e+07,
       2.24057361e+07, 2.24057361e+07, 2.24057361e+07, 2.24057361e+07,
       2.24057361e+07, 2.24057361e+07, 2.24057361e+07, 2.24057361e+07,
       2.24057361e+07, 2.24057361e+07, 2.24057361e+07, 2.03790774e+07,
       2.03790774e+07, 2.03790774e+07, 2.03790774e+07, 2.03790774e+07,
       2.03790774e+07, 2.03790774e+07, 2.03790774e+07, 2.03790774e+07,
       2.03790774e+07, 2.03790774e+07, 2.03790774e+07, 1.84897502e+07,
       1.84897502e+07, 1.84897502e+07, 1.84897502e+07, 1.84897502e+07,
       1.84897502e+07, 1.84897502e+07, 1.84897502e+07, 1.84897502e+07,
       1.84897502e+07, 1.84897502e+07, 1.84897502e+07, 1.67341412e+07,
       1.67341412e+07, 1.67341412e+07, 1.67341412e+07, 1.67341412e+07,
       1.67341412e+07, 1.67341412e+07, 1.67341412e+07, 1.67341412e+07,
       1.67341412e+07, 1.67341412e+07, 1.67341412e+07, 1.51071816e+07,
       1.51071816e+07, 1.51071816e+07, 1.51071816e+07, 1.51071816e+07,
       1.51071816e+07, 1.51071816e+07, 1.51071816e+07, 1.51071816e+07,
       1.51071816e+07, 1.51071816e+07, 1.51071816e+07, 1.36034140e+07,
       1.36034140e+07, 1.36034140e+07, 1.36034140e+07, 1.36034140e+07,
       1.36034140e+07, 1.36034140e+07, 1.36034140e+07, 1.36034140e+07,
       1.36034140e+07, 1.36034140e+07, 1.36034140e+07, 1.22169223e+07,
       1.22169223e+07, 1.22169223e+07, 1.22169223e+07, 1.22169223e+07,
       1.22169223e+07, 1.22169223e+07, 1.22169223e+07, 1.22169223e+07,
       1.22169223e+07, 1.22169223e+07, 1.22169223e+07, 1.09411257e+07,
       1.09411257e+07, 1.09411257e+07, 1.09411257e+07, 1.09411257e+07,
       1.09411257e+07, 1.09411257e+07, 1.09411257e+07, 1.09411257e+07,
       1.09411257e+07, 1.09411257e+07, 1.09411257e+07, 9.76937396e+06,
       9.76937396e+06, 9.76937396e+06, 9.76937396e+06, 9.76937396e+06,
       9.76937396e+06, 9.76937396e+06, 9.76937396e+06, 9.76937396e+06,
       9.76937396e+06, 9.76937396e+06, 9.76937396e+06, 8.69528451e+06,
       8.69528451e+06, 8.69528451e+06, 8.69528451e+06, 8.69528451e+06,
       8.69528451e+06, 8.69528451e+06, 8.69528451e+06, 8.69528451e+06,
       8.69528451e+06, 8.69528451e+06, 8.69528451e+06, 7.71272963e+06,
       7.71272963e+06, 7.71272963e+06, 7.71272963e+06, 7.71272963e+06,
       7.71272963e+06, 7.71272963e+06, 7.71272963e+06, 7.71272963e+06,
       7.71272963e+06, 7.71272963e+06, 7.71272963e+06, 6.81587266e+06,
       6.81587266e+06, 6.81587266e+06, 6.81587266e+06, 6.81587266e+06,
       6.81587266e+06, 6.81587266e+06, 6.81587266e+06, 6.81587266e+06,
       6.81587266e+06, 6.81587266e+06, 6.81587266e+06, 5.99896946e+06,
       5.99896946e+06, 5.99896946e+06, 5.99896946e+06, 5.99896946e+06,
       5.99896946e+06, 5.99896946e+06, 5.99896946e+06, 5.99896946e+06,
       5.99896946e+06, 5.99896946e+06, 5.99896946e+06, 5.25718696e+06,
       5.25718696e+06, 5.25718696e+06, 5.25718696e+06, 5.25718696e+06,
       5.25718696e+06, 5.25718696e+06, 5.25718696e+06, 5.25718696e+06,
       5.25718696e+06, 5.25718696e+06, 5.25718696e+06, 4.58540190e+06,
       4.58540190e+06, 4.58540190e+06, 4.58540190e+06, 4.58540190e+06,
       4.58540190e+06, 4.58540190e+06, 4.58540190e+06, 4.58540190e+06,
       4.58540190e+06, 4.58540190e+06, 4.58540190e+06, 3.97898996e+06,
       3.97898996e+06, 3.97898996e+06, 3.97898996e+06, 3.97898996e+06,
       3.97898996e+06, 3.97898996e+06, 3.97898996e+06, 3.97898996e+06,
       3.97898996e+06, 3.97898996e+06, 3.97898996e+06, 3.43361904e+06,
       3.43361904e+06, 3.43361904e+06, 3.43361904e+06, 3.43361904e+06,
       3.43361904e+06, 3.43361904e+06, 3.43361904e+06, 3.43361904e+06,
       3.43361904e+06, 3.43361904e+06, 3.43361904e+06, 2.94524847e+06,
       2.94524847e+06, 2.94524847e+06, 2.94524847e+06, 2.94524847e+06,
       2.94524847e+06, 2.94524847e+06, 2.94524847e+06, 2.94524847e+06,
       2.94524847e+06, 2.94524847e+06, 2.94524847e+06, 2.51002868e+06,
       2.51002868e+06, 2.51002868e+06, 2.51002868e+06, 2.51002868e+06,
       2.51002868e+06, 2.51002868e+06, 2.51002868e+06, 2.51002868e+06,
       2.51002868e+06, 2.51002868e+06, 2.51002868e+06, 2.12427183e+06,
       2.12427183e+06, 2.12427183e+06, 2.12427183e+06, 2.12427183e+06,
       2.12427183e+06, 2.12427183e+06, 2.12427183e+06, 2.12427183e+06,
       2.12427183e+06, 2.12427183e+06, 2.12427183e+06, 1.78440705e+06,
       1.78440705e+06, 1.78440705e+06, 1.78440705e+06, 1.78440705e+06,
       1.78440705e+06, 1.78440705e+06, 1.78440705e+06, 1.78440705e+06,
       1.78440705e+06, 1.78440705e+06, 1.78440705e+06, 1.48696625e+06,
       1.48696625e+06, 1.48696625e+06, 1.48696625e+06, 1.48696625e+06,
       1.48696625e+06, 1.48696625e+06, 1.48696625e+06, 1.48696625e+06,
       1.48696625e+06, 1.48696625e+06, 1.48696625e+06, 1.22855482e+06,
       1.22855482e+06, 1.22855482e+06, 1.22855482e+06, 1.22855482e+06,
       1.22855482e+06, 1.22855482e+06, 1.22855482e+06, 1.22855482e+06,
       1.22855482e+06, 1.22855482e+06, 1.22855482e+06, 1.00583424e+06,
       1.00583424e+06, 1.00583424e+06, 1.00583424e+06, 1.00583424e+06,
       1.00583424e+06, 1.00583424e+06, 1.00583424e+06, 1.00583424e+06,
       1.00583424e+06, 1.00583424e+06, 1.00583424e+06, 8.15535849e+05,
       8.15535849e+05, 8.15535849e+05, 8.15535849e+05, 8.15535849e+05,
       8.15535849e+05, 8.15535849e+05, 8.15535849e+05, 8.15535849e+05,
       8.15535849e+05, 8.15535849e+05, 8.15535849e+05, 6.54456022e+05,
       6.54456022e+05, 6.54456022e+05, 6.54456022e+05, 6.54456022e+05,
       6.54456022e+05, 6.54456022e+05, 6.54456022e+05, 6.54456022e+05,
       6.54456022e+05, 6.54456022e+05, 6.54456022e+05, 5.19456086e+05,
       5.19456086e+05, 5.19456086e+05, 5.19456086e+05, 5.19456086e+05,
       5.19456086e+05, 5.19456086e+05, 5.19456086e+05, 5.19456086e+05,
       5.19456086e+05, 5.19456086e+05, 5.19456086e+05, 4.07503284e+05,
       4.07503284e+05, 4.07503284e+05, 4.07503284e+05, 4.07503284e+05,
       4.07503284e+05, 4.07503284e+05, 4.07503284e+05, 4.07503284e+05,
       4.07503284e+05, 4.07503284e+05, 4.07503284e+05, 3.15707073e+05,
       3.15707073e+05, 3.15707073e+05, 3.15707073e+05, 3.15707073e+05,
       3.15707073e+05, 3.15707073e+05, 3.15707073e+05, 3.15707073e+05,
       3.15707073e+05, 3.15707073e+05, 3.15707073e+05, 2.41343199e+05,
       2.41343199e+05, 2.41343199e+05, 2.41343199e+05, 2.41343199e+05,
       2.41343199e+05, 2.41343199e+05, 2.41343199e+05, 2.41343199e+05,
       2.41343199e+05, 2.41343199e+05, 2.41343199e+05, 1.81882373e+05,
       1.81882373e+05, 1.81882373e+05, 1.81882373e+05, 1.81882373e+05,
       1.81882373e+05, 1.81882373e+05, 1.81882373e+05, 1.81882373e+05,
       1.81882373e+05, 1.81882373e+05, 1.81882373e+05, 1.35008548e+05,
       1.35008548e+05, 1.35008548e+05, 1.35008548e+05, 1.35008548e+05,
       1.35008548e+05, 1.35008548e+05, 1.35008548e+05, 1.35008548e+05,
       1.35008548e+05, 1.35008548e+05, 1.35008548e+05, 9.86191298e+04,
       9.86191298e+04, 9.86191298e+04, 9.86191298e+04, 9.86191298e+04,
       9.86191298e+04, 9.86191298e+04, 9.86191298e+04, 9.86191298e+04,
       9.86191298e+04, 9.86191298e+04, 9.86191298e+04, 7.08286927e+04,
       7.08286927e+04, 7.08286927e+04, 7.08286927e+04, 7.08286927e+04,
       7.08286927e+04, 7.08286927e+04, 7.08286927e+04, 7.08286927e+04,
       7.08286927e+04, 7.08286927e+04, 7.08286927e+04, 4.99728609e+04,
       4.99728609e+04, 4.99728609e+04, 4.99728609e+04, 4.99728609e+04,
       4.99728609e+04, 4.99728609e+04, 4.99728609e+04, 4.99728609e+04,
       4.99728609e+04, 4.99728609e+04, 4.99728609e+04, 3.46086614e+04])

In [11]:
#from PyCurve.curve import Curve

In [12]:
df_Raw_FTSE_YC = pd.read_excel("Raw FTSE Data.xlsx",skiprows = [0,2],usecols = [*range(0, 145)], na_values=[""])
#dataset.set_index('Date')
Raw_FTSE_YC = df_Raw_FTSE_YC.copy()
#Raw_FTSE_YC = pd.DataFrame(Raw_FTSE_YC)
#df_Raw_FTSE_YC.set_index('Date')
col = Raw_FTSE_YC.columns
Raw_FTSE_YC

,Date,2021-09-30 00:00:00,2021-08-31 00:00:00,2021-07-31 00:00:00,2021-06-30 00:00:00,2021-05-31 00:00:00,2021-04-30 00:00:00,2021-03-31 00:00:00,2021-02-28 00:00:00,2021-01-31 00:00:00,...,2010-09-30 00:00:00,2010-08-31 00:00:00,2010-07-31 00:00:00,2010-06-30 00:00:00,2010-05-31 00:00:00,2010-04-30 00:00:00,2010-03-31 00:00:00,2010-02-28 00:00:00,2010-01-31 00:00:00,2009-12-31 00:00:00
0,0.5,0.228012,0.219006,0.225192,0.229425,0.185391,0.215197,0.241936,0.218973,0.262039,...,0.896931,0.980827,1.039656,1.336495,1.356106,0.796529,0.824371,0.959171,0.854822,0.997499
1,1.0,0.269363,0.253146,0.250422,0.273281,0.234543,0.260351,0.292303,0.274942,0.286072,...,1.012479,1.093406,1.156291,1.494602,1.548488,1.069795,1.179135,1.183362,1.099006,1.386799
2,1.5,0.366116,0.312029,0.304798,0.350100,0.266482,0.315730,0.341681,0.308591,0.296487,...,1.065754,1.180900,1.244818,1.590332,1.686592,1.323298,1.459969,1.412837,1.358586,1.664896
3,2.0,0.462916,0.382251,0.360791,0.428252,0.308943,0.366517,0.386763,0.335334,0.316017,...,1.132115,1.250318,1.346470,1.693166,1.853045,1.533786,1.684716,1.612329,1.567095,1.892898
4,2.5,0.598794,0.500577,0.460835,0.545139,0.390191,0.457938,0.486965,0.426101,0.369027,...,1.289564,1.400126,1.517540,1.883170,2.099087,1.825434,1.982464,1.898602,1.860517,2.202034
5,3.0,0.739882,0.631413,0.576373,0.672529,0.513375,0.581189,0.636467,0.543781,0.436382,...,1.480375,1.593382,1.723042,2.141054,2.396014,2.163991,2.328185,2.229761,2.204905,2.555180
6,3.5,0.894528,0.768256,0.699302,0.808232,0.659106,0.728903,0.814293,0.682400,0.519900,...,1.695568,1.812045,1.960053,2.417479,2.679186,2.485899,2.676519,2.544241,2.541772,2.898791
7,4.0,1.052811,0.901475,0.820499,0.944529,0.811569,0.888076,1.000516,0.831958,0.616091,...,1.924112,2.035995,2.214525,2.671984,2.922165,2.770801,2.999055,2.823711,2.849782,3.213513
8,4.5,1.183655,1.016589,0.929010,1.066441,0.963043,1.042951,1.179970,0.975599,0.718551,...,2.149881,2.249067,2.462229,2.882171,3.138009,3.038841,3.281442,3.099499,3.139972,3.515488
9,5.0,1.285697,1.115479,1.025819,1.173339,1.111111,1.189293,1.348912,1.108783,0.824075,...,2.374888,2.459324,2.706179,3.066176,3.344929,3.302149,3.534706,3.380740,3.421418,3.802621
10,5.5,1.401576,1.219837,1.127306,1.288041,1.263707,1.342999,1.507458,1.242417,0.933856,...,2.595990,2.678436,2.969110,3.299023,3.601893,3.556237,3.779770,3.656271,3.684200,4.036765
11,6.0,1.526590,1.332706,1.235485,1.408044,1.414504,1.496822,1.661995,1.376038,1.047718,...,2.820372,2.905897,3.235424,3.553502,3.854081,3.793318,4.029204,3.913818,3.934061,4.244626
12,6.5,1.640489,1.443622,1.345232,1.528320,1.563701,1.644106,1.807165,1.504610,1.164561,...,3.020638,3.094008,3.436982,3.751246,4.059645,4.010272,4.262599,4.157396,4.177079,4.456783
13,7.0,1.733270,1.543716,1.448491,1.640300,1.705040,1.777273,1.937091,1.621569,1.279661,...,3.193669,3.233514,3.569522,3.877822,4.214364,4.206014,4.466614,4.379804,4.404031,4.671201
14,7.5,1.811563,1.627629,1.535680,1.732369,1.824175,1.888217,2.045683,1.719129,1.384152,...,3.368879,3.372098,3.708257,4.005494,4.372263,4.374354,4.639114,4.565632,4.592364,4.839758
15,8.0,1.881004,1.697457,1.606274,1.803492,1.918746,1.978217,2.134321,1.798069,1.475500,...,3.558484,3.536212,3.890909,4.174068,4.558910,4.524426,4.789234,4.719901,4.741972,4.955171
16,8.5,1.942693,1.762870,1.670439,1.865859,2.001443,2.059264,2.212888,1.869571,1.559835,...,3.749282,3.711658,4.092085,4.361165,4.756982,4.678699,4.939462,4.876331,4.890663,5.066547
17,9.0,1.998241,1.829112,1.734624,1.927236,2.080839,2.138727,2.287844,1.940392,1.641180,...,3.928021,3.883175,4.284265,4.543318,4.950120,4.848444,5.098000,5.049276,5.056884,5.204649
18,9.5,2.050672,1.894365,1.798022,1.987924,2.158042,2.216401,2.360197,2.011237,1.719331,...,4.093650,4.043614,4.462312,4.712326,5.132156,5.019351,5.256656,5.227493,5.228365,5.354132
19,10.0,2.102207,1.957015,1.859421,2.047115,2.232646,2.291172,2.429742,2.081096,1.793980,...,4.246138,4.192948,4.624145,4.867134,5.298957,5.181167,5.408246,5.398674,5.392799,5.501666
20,10.5,2.142521,2.004672,1.910265,2.093557,2.292471,2.351385,2.488800,2.140498,1.855673,...,4.347543,4.290477,4.738170,4.964695,5.394640,5.296306,5.518108,5.515297,5.502910,5.617753
21,11.0,2.183046,2.049511,1.959001,2.138494,2.349986,2.408783,2.545546,2.198907,1.914456,...,4.439799,4.375791,4.839969,5.051026,5.478042,5.397135,5.617751,5.618623,5.600747,5.722592
22,11.5,2.223679,2.091733,2.005829,2.182127,2.405595,2.463868,2.600383,2.256422,1.970429,...,4.521873,4.451942,4.928501,5.125088,5.550175,5.484659,5.708187,5.708633,5.687320,5.815139
23,12.0,2.264726,2.131943,2.051153,2.224758,2.459599,2.516640,2.653512,2.313245,2.024094,...,4.595796,4.518920,5.007848,5.190971,5.611028,5.560918,5.788376,5.788396,5.761588,5.897436
24,12.5,2.306185,2.170543,2.095274,2.266589,2.512099,2.567703,2.705135,2.369477,2.075955,...,4.662585,4.577738,5.076973,5.246616,5.663675,5.625899,5.860364,5.856871,5.826623,5.970500
25,13.0,2.348462,2.208848,2.139102,2.308428,2.563600,2.617159,2.755554,2.425016,2.126313,...,4.723254,4.629412,5.137918,5.296119,5.708110,5.681647,5.925172,5.916106,5.883446,6.034321
26,13.5,2.392366,2.248676,2.184051,2.351389,2.614607,2.665410,2.805174,2.480063,2.176279,...,4.777800,4.674960,5.190676,5.337422,5.744328,5.729185,5.982794,5.967122,5.931021,6.089921
27,14.0,2.438203,2.291344,2.231032,2.396382,2.665627,2.712761,2.854198,2.534620,2.226358,...,4.828264,4.714378,5.238317,5.373601,5.774381,5.768505,6.035282,6.010942,5.972430,6.138325
28,14.5,2.486278,2.336954,2.280249,2.443410,2.716659,2.759413,2.902828,2.588684,2.276551,...,4.873619,4.749709,5.279813,5.404653,5.799295,5.801660,6.081604,6.047563,6.006639,6.179526
29,15.0,2.536186,2.385408,2.331501,2.492372,2.767805,2.805264,2.951064,2.642256,2.327161,...,4.915912,4.781976,5.317212,5.430575,5.820098,5.828649,6.122785,6.078011,6.034676,6.214551
30,15.5,2.587930,2.436606,2.384789,2.543169,2.819066,2.850618,2.998905,2.695538,2.377985,...,4.956164,4.812200,5.351539,5.452393,5.835758,5.852554,6.158822,6.102283,6.058597,6.243397
31,16.0,2.641206,2.490145,2.439812,2.595598,2.870339,2.895374,3.046554,2.748428,2.429126,...,4.993350,4.841404,5.383818,5.472159,5.849362,5.873376,6.188683,6.122437,6.077371,6.265032
32,16.5,2.695915,2.545926,2.496368,2.649561,2.921727,2.939633,3.093808,2.800927,2.480381,...,5.030543,4.871637,5.415075,5.489872,5.859880,5.892141,6.214425,6.137441,6.092026,6.281513
33,17.0,2.751652,2.603445,2.554256,2.704552,2.973026,2.983393,3.140768,2.853033,2.531851,...,5.065692,4.900850,5.445310,5.504506,5.868341,5.909878,6.236047,6.149356,6.102563,6.291811
34,17.5,2.808013,2.662195,2.612972,2.760368,3.024033,3.026554,3.187129,2.904543,2.583334,...,5.099822,4.930066,5.473495,5.517086,5.875773,5.924530,6.253548,6.156119,6.110009,6.297984
35,18.0,2.863578,2.720962,2.671501,2.815692,3.074139,3.068912,3.232586,2.954849,2.634526,...,5.132932,4.959287,5.501684,5.528640,5.880119,5.939183,6.266928,6.159792,6.113335,6.297972
36,18.5,2.915708,2.777414,2.727918,2.868698,3.121922,3.109755,3.275919,3.002732,2.684718,...,5.165022,4.989537,5.528849,5.538140,5.884464,5.951778,6.276184,6.161404,6.114602,6.294866
37,19.0,2.963083,2.830028,2.781006,2.917864,3.166465,3.148778,3.316619,3.047580,2.733401,...,5.197116,5.018766,5.556018,5.546612,5.885723,5.963344,6.283379,6.158895,6.113807,6.287637
38,19.5,3.005292,2.878497,2.830355,2.962880,3.207869,3.186285,3.354683,3.089392,2.780677,...,5.227164,5.047999,5.581136,5.553031,5.886982,5.974911,6.287481,6.155356,6.109923,6.277315
39,20.0,3.043247,2.922615,2.875658,3.003948,3.246334,3.222477,3.390619,3.128674,2.826442,...,5.256191,5.076211,5.605229,5.557394,5.886182,5.984419,6.290553,6.148725,6.103978,6.265963
40,20.5,3.056972,2.940037,2.893728,3.020649,3.261449,3.237541,3.404702,3.148059,2.846515,...,5.285062,5.111023,5.626368,5.577640,5.905542,5.990795,6.289927,6.154865,6.109072,6.250794
41,21.0,3.068769,2.953098,2.907336,3.033697,3.274330,3.252910,3.418176,3.166837,2.865373,...,5.310858,5.142765,5.644426,5.595832,5.923874,5.997172,6.290332,6.161005,6.113136,6.235627
42,21.5,3.078739,2.961897,2.916684,3.043192,3.285077,3.268382,3.431142,3.185007,2.883116,...,5.335631,5.171435,5.660429,5.611970,5.942208,6.002518,6.290737,6.167145,6.117200,6.222521
43,22.0,3.086882,2.967247,2.922582,3.049846,3.293995,3.283550,3.443193,3.202264,2.899644,...,5.358354,5.198058,5.673350,5.627082,5.960544,6.007865,6.293204,6.173285,6.121264,6.210447
44,22.5,3.092995,2.970060,2.925945,3.054165,3.301085,3.297195,3.453720,3.217491,2.914651,...,5.379027,5.221606,5.685244,5.640139,5.977851,6.013213,6.295671,6.179426,6.126359,6.199404
45,23.0,3.096874,2.971250,2.927685,3.056860,3.306751,3.308605,3.462009,3.230179,2.927631,...,5.397648,5.243106,5.694054,5.651141,5.995160,6.018560,6.299169,6.186597,6.130423,6.190423
46,23.5,3.098519,2.971120,2.928207,3.057931,3.310995,3.317474,3.467858,3.240124,2.938785,...,5.414218,5.262555,5.701836,5.662144,6.012470,6.023907,6.303698,6.193768,6.134487,6.182472
47,24.0,3.097931,2.969671,2.927511,3.057783,3.313917,3.323802,3.471570,3.247428,2.948113,...,5.430788,5.279955,5.707562,5.671092,6.029782,6.029255,6.309258,6.201970,6.139582,6.175553
48,24.5,3.095413,2.967208,2.925801,3.056417,3.315620,3.327894,3.473045,3.252191,2.955717,...,5.445307,5.295303,5.712260,5.680040,6.047095,6.034602,6.315849,6.211203,6.144677,6.169664
49,25.0,3.090966,2.963730,2.923178,3.053834,3.316103,3.329649,3.472485,3.254516,2.961697,...,5.458799,5.310653,5.716958,5.687960,6.063380,6.040980,6.323472,6.220436,6.150802,6.165835
50,25.5,3.084895,2.959237,2.919642,3.050133,3.315468,3.329370,3.469993,3.254708,2.966156,...,5.473319,5.327030,5.721657,5.697936,6.080696,6.048387,6.332127,6.231732,6.158988,6.163038
51,26.0,3.077606,2.954034,2.915193,3.045519,3.313511,3.327058,3.465669,3.252765,2.968991,...,5.487841,5.343408,5.728412,5.708942,6.099043,6.056825,6.341812,6.245089,6.168205,6.162300
52,26.5,3.069708,2.948323,2.910034,3.039991,3.310132,3.322917,3.459617,3.249095,2.970405,...,5.502363,5.361841,5.737224,5.723032,6.118422,6.066293,6.352530,6.261539,6.180513,6.162594
53,27.0,3.061810,2.942106,2.904064,3.033550,3.305126,3.316946,3.451937,3.243697,2.970196,...,5.517914,5.382328,5.748092,5.739180,6.137803,6.077821,6.365311,6.279022,6.194883,6.164948
54,27.5,3.053912,2.935585,2.897384,3.026298,3.298596,3.309247,3.442732,3.236878,2.968465,...,5.534492,5.404870,5.761019,5.756358,6.157186,6.090380,6.379124,6.299599,6.210285,6.168332
55,28.0,3.046218,2.928759,2.889994,3.018233,3.290440,3.300024,3.432104,3.228534,2.965414,...,5.552100,5.428442,5.774974,5.776622,6.178631,6.104999,6.392937,6.322241,6.228780,6.172747
56,28.5,3.038727,2.921629,2.881995,3.009560,3.280862,3.289379,3.420154,3.218972,2.961045,...,5.569709,5.453043,5.792016,5.797917,6.200079,6.120650,6.408815,6.345916,6.248307,6.179223
57,29.0,3.031439,2.914297,2.873490,3.000177,3.270064,3.277311,3.406984,3.208292,2.955458,...,5.587320,5.479701,5.809059,5.821272,6.221528,6.137332,6.424694,6.371656,6.269898,6.186729
58,29.5,3.024253,2.906660,2.864478,2.990388,3.258150,3.264228,3.392799,3.196598,2.948958,...,5.605959,5.507390,5.828162,5.846686,6.242980,6.154016,6.441606,6.398431,6.292522,6.195266
59,30.0,3.020599,2.903617,2.859711,2.984096,3.249005,3.254473,3.382834,3.185627,2.946016,...,5.623430,5.527934,5.847708,5.862119,6.254318,6.171532,6.458114,6.416999,6.310049,6.204541

In [13]:
raw_liab_ibt_dict={}
tr = Raw_FTSE_YC['Date']
# list of raw (not interpolated) times to maturity
yr = Raw_FTSE_YC[col] 
# list of raw (not interpolated) yields
t = list(frange(0.5, 30.08, (1/12))) # interpolating in range 1..30 years

for col in Raw_FTSE_YC.columns:
    #print('col: {}'.format(col))
    y = []
    interp = sp.interpolate.interp1d(tr, Raw_FTSE_YC[col] , bounds_error=False, fill_value=sp.nan)
#for col in Raw_FTSE_YC.columns:
    #for col in FTSE_YC.columns:
    for i in t:
            value = float(interp(i))
            if not sp.isnan(value): # Don't include out-of-range values
                y.append(value)
                End_Rate = [y[-1]] * 592
                Beg_Rate = [y[0]] * 5
            raw_liab_ibt_dict[col] = Beg_Rate + y + End_Rate
len(raw_liab_ibt_dict[col])
#curve = Curve(t,y)
#print("curve.get_rate:{},curve.get_time:{}".format(curve.get_rate,curve.get_time))
#print(curve.get_rate)
#print(curve.get_time)

952

In [14]:
int_df = pd.DataFrame(raw_liab_ibt_dict)
int_df = int_df.drop(['Date'], axis=1)
int_df = int_df.iloc[:, ::-1]
int_df

,2009-12-31,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,...,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30
0,0.997499,0.854822,0.959171,0.824371,0.796529,1.356106,1.336495,1.039656,0.980827,0.896931,...,0.288271,0.262039,0.218973,0.241936,0.215197,0.185391,0.229425,0.225192,0.219006,0.228012
1,0.997499,0.854822,0.959171,0.824371,0.796529,1.356106,1.336495,1.039656,0.980827,0.896931,...,0.288271,0.262039,0.218973,0.241936,0.215197,0.185391,0.229425,0.225192,0.219006,0.228012
2,0.997499,0.854822,0.959171,0.824371,0.796529,1.356106,1.336495,1.039656,0.980827,0.896931,...,0.288271,0.262039,0.218973,0.241936,0.215197,0.185391,0.229425,0.225192,0.219006,0.228012
3,0.997499,0.854822,0.959171,0.824371,0.796529,1.356106,1.336495,1.039656,0.980827,0.896931,...,0.288271,0.262039,0.218973,0.241936,0.215197,0.185391,0.229425,0.225192,0.219006,0.228012
4,0.997499,0.854822,0.959171,0.824371,0.796529,1.356106,1.336495,1.039656,0.980827,0.896931,...,0.288271,0.262039,0.218973,0.241936,0.215197,0.185391,0.229425,0.225192,0.219006,0.228012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,6.204541,6.310049,6.416999,6.458114,6.171532,6.254318,5.862119,5.847708,5.527934,5.623430,...,2.717421,2.946016,3.185627,3.382834,3.254473,3.249005,2.984096,2.859711,2.903617,3.020599
948,6.204541,6.310049,6.416999,6.458114,6.171532,6.254318,5.862119,5.847708,5.527934,5.623430,...,2.717421,2.946016,3.185627,3.382834,3.254473,3.249005,2.984096,2.859711,2.903617,3.020599
949,6.204541,6.310049,6.416999,6.458114,6.171532,6.254318,5.862119,5.847708,5.527934,5.623430,...,2.717421,2.946016,3.185627,3.382834,3.254473,3.249005,2.984096,2.859711,2.903617,3.020599
950,6.204541,6.310049,6.416999,6.458114,6.171532,6.254318,5.862119,5.847708,5.527934,5.623430,...,2.717421,2.946016,3.185627,3.382834,3.254473,3.249005,2.984096,2.859711,2.903617,3.020599
951,6.204541,6.310049,6.416999,6.458114,6.171532,6.254318,5.862119,5.847708,5.527934,5.623430,...,2.717421,2.946016,3.185627,3.382834,3.254473,3.249005,2.984096,2.859711,2.903617,3.020599

In [15]:
liab_plan_dict={}
for col in int_df.columns:
    #print('col: {}'.format(col))
    temp_pv=0
    for j in range (0,len(Time_CF)):
        temp_pv += (CF[j]/((1+int_df[col][j]/100)**DF[j]))
    liab_plan_dict[col] = temp_pv
len(liab_plan_dict)

142

In [16]:
pv_df = pd.DataFrame(liab_plan_dict, index = ['Present Values']).transpose()
np.negative(pv_df['Present Values'])
pv_df

            Present Values
2009-12-31    9.441978e+09
2010-01-31    9.531003e+09
2010-02-28    9.462231e+09
2010-03-31    9.378239e+09
2010-04-30    9.723118e+09
...                    ...
2021-05-31    1.492173e+10
2021-06-30    1.556223e+10
2021-07-31    1.594887e+10
2021-08-31    1.580312e+10
2021-09-30    1.544607e+10

[142 rows x 1 columns]

In [17]:
Plan_Return_YC = np.zeros(len(liab_plan_dict)-1)
#for j in range (0,len(Time_DR)):
for i in range (0,len(liab_plan_dict)-1):
    #print(i)
#     print(IBT_Return_YC[i])
    Plan_Return_YC[i] = ((pv_df['Present Values'][i+1])/pv_df['Present Values'][i])-1
Plan_Return_YC

array([ 9.42865717e-03, -7.21562554e-03, -8.87648229e-03,  3.67743780e-02,
       -4.95219251e-03,  5.12721060e-02,  1.06388756e-02,  5.75074062e-02,
       -1.38859807e-02, -3.79158140e-02, -6.56062121e-03, -1.63883857e-02,
       -3.11037341e-02,  1.69336215e-02, -1.38167844e-02,  2.30058404e-02,
        1.85198215e-02, -2.78849551e-02,  4.63135011e-02,  2.31859042e-02,
        7.33892885e-02, -4.45204518e-04,  6.06054040e-04,  4.55745101e-02,
       -4.07416611e-03,  1.94650863e-03, -3.51593719e-02,  2.13459578e-02,
        3.16994260e-02,  3.45324164e-02,  6.68892757e-02, -1.48678257e-02,
       -1.70845231e-02,  1.86894075e-02, -1.27808231e-02, -2.24026719e-02,
       -4.00684167e-02,  7.69536834e-03, -9.30247813e-03,  4.08419403e-02,
       -6.73129263e-02, -4.76998550e-02, -1.49139088e-03, -7.42057291e-03,
       -7.00084844e-03,  1.70391373e-02, -1.72789513e-02, -5.30234015e-03,
        4.17969220e-02,  1.43274467e-02,  5.67373578e-03,  1.67103052e-02,
        1.90175386e-02, -2.95316964e-03,  4.07169781e-05,  3.57468136e-02,
       -3.33444937e-02,  2.04739503e-02,  1.77594674e-02,  2.03837046e-02,
        8.12765569e-02, -4.54117771e-02,  1.70409432e-03, -3.16767620e-02,
       -2.99498780e-02, -4.53142307e-02,  2.11203206e-02, -1.23925270e-02,
        1.02879598e-02,  2.52980928e-03, -1.81643891e-03, -4.42407244e-03,
        8.91354914e-03,  2.30354188e-02,  3.81076986e-02,  1.54053834e-02,
       -5.44279196e-03,  4.38631852e-02,  2.46608757e-02, -5.82213726e-04,
       -1.88146079e-02, -3.37980485e-02, -6.10667714e-02, -4.28149320e-04,
       -3.23044135e-03,  2.02640805e-02, -1.32449952e-02,  1.42978496e-02,
        1.96702131e-02,  6.31339853e-03,  3.53782679e-03,  1.53401970e-02,
       -1.11813466e-02,  6.91997207e-03, -2.35703827e-04,  2.87241695e-02,
       -3.12571178e-02, -3.70768547e-02,  7.78719252e-03, -1.99848717e-02,
        9.52814852e-03, -1.91945421e-02,  6.34625783e-03,  5.90847876e-03,
       -1.81274109e-02, -4.18259314e-02,  4.26156240e-04,  3.72655978e-02,
        2.64257577e-02, -7.82717111e-03,  4.83118353e-02, -1.34065455e-02,
        3.86185181e-02,  3.19355787e-02,  1.22879832e-02,  8.08129463e-02,
       -2.42446365e-02,  1.34576182e-04, -2.75611755e-04, -1.60367089e-02,
        5.79445572e-02,  2.94377560e-02, -6.62817548e-02,  6.46974308e-02,
        6.05707456e-03,  1.45620540e-02,  7.63364054e-02, -6.24379090e-02,
        1.13038490e-03, -2.37652348e-02,  5.17517897e-02, -3.98002490e-03,
       -3.91470784e-02, -4.66843624e-02, -4.02546887e-02,  2.42503335e-02,
        2.70914930e-03,  4.29238891e-02,  2.48444465e-02, -9.13812607e-03,
       -2.25938449e-02])

In [18]:
Plan_Returns_YC = pd.DataFrame(Plan_Return_YC)
#export monthly dataframe to excel
filepath = (PLAN+ ' Liability Returns & PV.xlsx')
writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
Plan_Returns_YC.to_excel(writer, sheet_name='returns')
pv_df.to_excel(writer, sheet_name='pv')
writer.save()

In [19]:
df_SC = pd.read_excel("2021_PBO_CF.xlsx",sheet_name = "Service Cost Cashflows Summary", skiprows = [0,1,2], usecols=[0,1,2,3], na_values=[""],index_col=0)
#dataset.set_index('Year')
df_SC

             Retirement       Pension           IBT
Year
2021-12-23   1511573.39  1.515507e+05  8.562248e+05
2022-12-31   4341798.12  6.378839e+05  3.265973e+06
2023-12-31   6325185.11  1.364457e+06  6.377871e+06
2024-12-31   8362114.74  2.184367e+06  9.520245e+06
2025-12-31  10514285.02  3.091714e+06  1.271774e+07
...                 ...           ...           ...
2096-12-31      2534.24  7.448368e+05  8.144005e+05
2097-12-31      1502.48  5.765053e+05  6.166164e+05
2098-12-31       873.21  4.384455e+05  4.589457e+05
2099-12-31       497.56  3.272676e+05  3.354632e+05
2100-12-31       278.03  2.394823e+05  2.405638e+05

[80 rows x 3 columns]

In [20]:
df_SC = df_SC.divide(12)
df_SC

               Retirement        Pension           IBT
Year
2021-12-23  125964.449167   12629.223266  7.135207e+04
2022-12-31  361816.510000   53156.995293  2.721644e+05
2023-12-31  527098.759167  113704.742421  5.314892e+05
2024-12-31  696842.895000  182030.602914  7.933538e+05
2025-12-31  876190.418333  257642.865694  1.059812e+06
...                   ...            ...           ...
2096-12-31     211.186667   62069.734330  6.786670e+04
2097-12-31     125.206667   48042.110266  5.138470e+04
2098-12-31      72.767500   36537.126910  3.824548e+04
2099-12-31      41.463333   27272.299072  2.795527e+04
2100-12-31      23.169167   19956.858930  2.004698e+04

[80 rows x 3 columns]

In [21]:
df=df_SC.copy()

#set start date and end date
start_date = df.index.min() - pd.DateOffset(day=0)
end_date = df.index.max() + pd.DateOffset(day=31)

#create new dataframe monthly index
dates = pd.date_range(start_date, end_date, freq='M')
dates.name = 'date'

#reindex yearly dataframe to monthly dataframe
df = df.reindex(dates, method='ffill')

#export monthly dataframe to excel
#filepath = 'monthly_data.xlsx'
#writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
#df.to_excel(writer, sheet_name='data')
#writer.save()
df_SC = df
df_SC

               Retirement       Pension           IBT
date
2021-12-31  125964.449167  12629.223266  71352.069903
2022-01-31  125964.449167  12629.223266  71352.069903
2022-02-28  125964.449167  12629.223266  71352.069903
2022-03-31  125964.449167  12629.223266  71352.069903
2022-04-30  125964.449167  12629.223266  71352.069903
...                   ...           ...           ...
2100-08-31      41.463333  27272.299072  27955.270099
2100-09-30      41.463333  27272.299072  27955.270099
2100-10-31      41.463333  27272.299072  27955.270099
2100-11-30      41.463333  27272.299072  27955.270099
2100-12-31      23.169167  19956.858930  20046.982962

[949 rows x 3 columns]

In [22]:
df_SC_add = pd.read_excel("2021 Liability Cash Flows.xlsx",sheet_name = "SC", usecols=[0,1,2,3,4], na_values=[""],index_col=0)
#dataset.set_index('Year')
df_SC_add

                Time     Retirement      Pension           IBT
date
2021-10-31  0.083333  184557.083333  4629.916667  70374.833333
2021-11-30  0.166667  184557.083333  4629.916667  70374.833333
2021-12-31  0.250000  184557.083333  4629.916667  70374.833333

In [23]:
df_SC  = df_SC_add.append(df_SC)
df_SC

                Time     Retirement       Pension           IBT
date
2021-10-31  0.083333  184557.083333   4629.916667  70374.833333
2021-11-30  0.166667  184557.083333   4629.916667  70374.833333
2021-12-31  0.250000  184557.083333   4629.916667  70374.833333
2021-12-31       NaN  125964.449167  12629.223266  71352.069903
2022-01-31       NaN  125964.449167  12629.223266  71352.069903
...              ...            ...           ...           ...
2100-08-31       NaN      41.463333  27272.299072  27955.270099
2100-09-30       NaN      41.463333  27272.299072  27955.270099
2100-10-31       NaN      41.463333  27272.299072  27955.270099
2100-11-30       NaN      41.463333  27272.299072  27955.270099
2100-12-31       NaN      23.169167  19956.858930  20046.982962

[952 rows x 4 columns]

In [24]:
col_SC = df_SC.columns
col_CF = df_CF.columns
df_CF_Tot = UPS_Contr_Pctg*df_SC[col_SC] + df_CF[col_CF]
df_CF_Tot

              Time    Retirement       Pension           IBT
date
2021-10-31  0.0875  9.388236e+07  1.938988e+07  3.107916e+07
2021-11-30  0.1750  9.388236e+07  1.938988e+07  3.107916e+07
2021-12-31  0.2625  9.388236e+07  1.938988e+07  3.107916e+07
2021-12-31     NaN  1.004056e+08  2.188680e+07  3.533679e+07
2022-01-31     NaN  1.004056e+08  2.188680e+07  3.533679e+07
...            ...           ...           ...           ...
2100-08-31     NaN  9.608759e+03  1.329497e+05  5.137062e+04
2100-09-30     NaN  9.608759e+03  1.329497e+05  5.137062e+04
2100-10-31     NaN  9.608759e+03  1.329497e+05  5.137062e+04
2100-11-30     NaN  9.608759e+03  1.329497e+05  5.137062e+04
2100-12-31     NaN  8.666559e+03  9.448235e+04  3.561101e+04

[952 rows x 4 columns]

In [25]:
df_CF_Tot['Time'] = df_t.values
df_CF_Tot

                 Time    Retirement       Pension           IBT
date
2021-10-31   0.083333  9.388236e+07  1.938988e+07  3.107916e+07
2021-11-30   0.166667  9.388236e+07  1.938988e+07  3.107916e+07
2021-12-31   0.250000  9.388236e+07  1.938988e+07  3.107916e+07
2021-12-31   0.333333  1.004056e+08  2.188680e+07  3.533679e+07
2022-01-31   0.416667  1.004056e+08  2.188680e+07  3.533679e+07
...               ...           ...           ...           ...
2100-08-31  79.000000  9.608759e+03  1.329497e+05  5.137062e+04
2100-09-30  79.083333  9.608759e+03  1.329497e+05  5.137062e+04
2100-10-31  79.166667  9.608759e+03  1.329497e+05  5.137062e+04
2100-11-30  79.250000  9.608759e+03  1.329497e+05  5.137062e+04
2100-12-31  79.333333  8.666559e+03  9.448235e+04  3.561101e+04

[952 rows x 4 columns]

In [26]:
CF_Tot = df_CF_Tot[PLAN]
Time_CF_Tot = df_CF_Tot.index
DF_Tot=df_CF_Tot['Time']

In [27]:
liab_plan_dict_tot={}
for col in int_df.columns:
    #print('col: {}'.format(col))
    temp_pv=0
    for j in range (0,len(Time_CF)):
        temp_pv += (CF_Tot[j]/((1+int_df[col][j]/100)**DF_Tot[j]))
    liab_plan_dict_tot[col] = temp_pv
liab_plan_dict_tot

{datetime.datetime(2009, 12, 31, 0, 0): 9467109549.975756,
 datetime.datetime(2010, 1, 31, 0, 0): 9556212953.787758,
 datetime.datetime(2010, 2, 28, 0, 0): 9487086772.195206,
 datetime.datetime(2010, 3, 31, 0, 0): 9402780970.614504,
 datetime.datetime(2010, 4, 30, 0, 0): 9749067519.134275,
 datetime.datetime(2010, 5, 31, 0, 0): 9700718755.922382,
 datetime.datetime(2010, 6, 30, 0, 0): 10198811509.281897,
 datetime.datetime(2010, 7, 31, 0, 0): 10307233566.963627,
 datetime.datetime(2010, 8, 31, 0, 0): 10900716666.399048,
 datetime.datetime(2010, 9, 30, 0, 0): 10749076200.133884,
 datetime.datetime(2010, 10, 31, 0, 0): 10340716772.824747,
 datetime.datetime(2010, 11, 30, 0, 0): 10272974265.288914,
 datetime.datetime(2010, 12, 31, 0, 0): 10104801684.386845,
 datetime.datetime(2011, 1, 31, 0, 0): 9789842975.492376,
 datetime.datetime(2011, 2, 28, 0, 0): 9955943223.23618,
 datetime.datetime(2011, 3, 31, 0, 0): 9818197107.400648,
 datetime.datetime(2011, 4, 30, 0, 0): 10044284726.684881,
 datetime.datetime(2011, 5, 31, 0, 0): 10230486487.229206,
 datetime.datetime(2011, 6, 30, 0, 0): 9944823798.525799,
 datetime.datetime(2011, 7, 31, 0, 0): 10405946858.97734,
 datetime.datetime(2011, 8, 31, 0, 0): 10647531580.619814,
 datetime.datetime(2011, 9, 30, 0, 0): 11430810754.509026,
 datetime.datetime(2011, 10, 31, 0, 0): 11425611942.114918,
 datetime.datetime(2011, 11, 30, 0, 0): 11432667805.523296,
 datetime.datetime(2011, 12, 31, 0, 0): 11954391558.023626,
 datetime.datetime(2012, 1, 31, 0, 0): 11905139787.474394,
 datetime.datetime(2012, 2, 29, 0, 0): 11928374262.319157,
 datetime.datetime(2012, 3, 31, 0, 0): 11508414976.615067,
 datetime.datetime(2012, 4, 30, 0, 0): 11754188372.747139,
 datetime.datetime(2012, 5, 31, 0, 0): 12127384963.735992,
 datetime.datetime(2012, 6, 30, 0, 0): 12546964062.116825,
 datetime.datetime(2012, 7, 31, 0, 0): 13387611465.195251,
 datetime.datetime(2012, 8, 31, 0, 0): 13188052877.847477,
 datetime.datetime(2012, 9, 30, 0, 0): 12962359779.87471,
 datetime.datetime(2012, 10, 31, 0, 0): 13204911401.074152,
 datetime.datetime(2012, 11, 30, 0, 0): 13035837820.23024,
 datetime.datetime(2012, 12, 31, 0, 0): 12743298551.52403,
 datetime.datetime(2013, 1, 31, 0, 0): 12232131841.42588,
 datetime.datetime(2013, 2, 28, 0, 0): 12326318758.721645,
 datetime.datetime(2013, 3, 31, 0, 0): 12211426123.750546,
 datetime.datetime(2013, 4, 30, 0, 0): 12710954590.686153,
 datetime.datetime(2013, 5, 31, 0, 0): 11854256717.159683,
 datetime.datetime(2013, 6, 30, 0, 0): 11288158915.689943,
 datetime.datetime(2013, 7, 31, 0, 0): 11271319423.221096,
 datetime.datetime(2013, 8, 31, 0, 0): 11187709153.649897,
 datetime.datetime(2013, 9, 30, 0, 0): 11109001175.871769,
 datetime.datetime(2013, 10, 31, 0, 0): 11298469570.19882,
 datetime.datetime(2013, 11, 30, 0, 0): 11102995065.953484,
 datetime.datetime(2013, 12, 31, 0, 0): 11044204411.566034,
 datetime.datetime(2014, 1, 31, 0, 0): 11506535996.433195,
 datetime.datetime(2014, 2, 28, 0, 0): 11671650461.178926,
 datetime.datetime(2014, 3, 31, 0, 0): 11738111721.752129,
 datetime.datetime(2014, 4, 30, 0, 0): 11934552167.829374,
 datetime.datetime(2014, 5, 31, 0, 0): 12161710958.661161,
 datetime.datetime(2014, 6, 30, 0, 0): 12125826605.854593,
 datetime.datetime(2014, 7, 31, 0, 0): 12126401718.84847,
 datetime.datetime(2014, 8, 31, 0, 0): 12560518389.046034,
 datetime.datetime(2014, 9, 30, 0, 0): 12141159429.688782,
 datetime.datetime(2014, 10, 31, 0, 0): 12390124329.82811,
 datetime.datetime(2014, 11, 30, 0, 0): 12610466543.284515,
 datetime.datetime(2014, 12, 31, 0, 0): 12868102761.594715,
 datetime.datetime(2015, 1, 31, 0, 0): 13915727552.717642,
 datetime.datetime(2015, 2, 28, 0, 0): 13282716029.02638,
 datetime.datetime(2015, 3, 31, 0, 0): 13305422284.704866,
 datetime.datetime(2015, 4, 30, 0, 0): 12883155781.309305,
 datetime.datetime(2015, 5, 31, 0, 0): 12496643004.77084,
 datetime.datetime(2015, 6, 30, 0, 0): 11929588510.393744,
 datetime.datetime(2015, 7, 31, 0, 0): 12181966253.80726,
 datetime.datetime(2015, 8, 31, 0, 0): 12030827226.803528,
 datetime.datetime(2015, 9, 30, 0, 0): 12154602090.87145,
 datetime.datetime(2015, 10, 31, 0, 0): 12185390457.80077,
 datetime.datetime(2015, 11, 30, 0, 0): 12163245282.312962,
 datetime.datetime(2015, 12, 31, 0, 0): 12109433770.058836,
 datetime.datetime(2016, 1, 31, 0, 0): 12217398209.240337,
 datetime.datetime(2016, 2, 29, 0, 0): 12499273290.316187,
 datetime.datetime(2016, 3, 31, 0, 0): 12976200507.117382,
 datetime.datetime(2016, 4, 30, 0, 0): 13176423877.55078,
 datetime.datetime(2016, 5, 31, 0, 0): 13104651021.623322,
 datetime.datetime(2016, 6, 30, 0, 0): 13680160982.754208,
 datetime.datetime(2016, 7, 31, 0, 0): 14018054335.659784,
 datetime.datetime(2016, 8, 31, 0, 0): 14010057245.179008,
 datetime.datetime(2016, 9, 30, 0, 0): 13746047833.885368,
 datetime.datetime(2016, 10, 31, 0, 0): 13280787491.018637,
 datetime.datetime(2016, 11, 30, 0, 0): 12468858677.8756,
 datetime.datetime(2016, 12, 31, 0, 0): 12463679530.716654,
 datetime.datetime(2017, 1, 31, 0, 0): 12423358085.688103,
 datetime.datetime(2017, 2, 28, 0, 0): 12675449895.531473,
 datetime.datetime(2017, 3, 31, 0, 0): 12507333250.922918,
 datetime.datetime(2017, 4, 30, 0, 0): 12686326407.007324,
 datetime.datetime(2017, 5, 31, 0, 0): 12936256421.736773,
 datetime.datetime(2017, 6, 30, 0, 0): 13018221795.256275,
 datetime.datetime(2017, 7, 31, 0, 0): 13064277304.774244,
 datetime.datetime(2017, 8, 31, 0, 0): 13264937007.686422,
 datetime.datetime(2017, 9, 30, 0, 0): 13116523880.792322,
 datetime.datetime(2017, 10, 31, 0, 0): 13207486149.201067,
 datetime.datetime(2017, 11, 30, 0, 0): 13204534946.159143,
 datetime.datetime(2017, 12, 31, 0, 0): 13584530282.689142,
 datetime.datetime(2018, 1, 31, 0, 0): 13159504493.341604,
 datetime.datetime(2018, 2, 28, 0, 0): 12670946598.494476,
 datetime.datetime(2018, 3, 31, 0, 0): 12769827074.885822,
 datetime.datetime(2018, 4, 30, 0, 0): 12514312696.467253,
 datetime.datetime(2018, 5, 31, 0, 0): 12633693393.547857,
 datetime.datetime(2018, 6, 30, 0, 0): 12390922422.44745,
 datetime.datetime(2018, 7, 31, 0, 0): 12469716568.345407,
 datetime.datetime(2018, 8, 31, 0, 0): 12543423817.832693,
 datetime.datetime(2018, 9, 30, 0, 0): 12315798151.714703,
 datetime.datetime(2018, 10, 31, 0, 0): 11799862274.858322,
 datetime.datetime(2018, 11, 30, 0, 0): 11804880204.79521,
 datetime.datetime(2018, 12, 31, 0, 0): 12245418927.606586,
 datetime.datetime(2019, 1, 31, 0, 0): 12569277562.509575,
 datetime.datetime(2019, 2, 28, 0, 0): 12470754209.438051,
 datetime.datetime(2019, 3, 31, 0, 0): 13073994109.809597,
 datetime.datetime(2019, 4, 30, 0, 0): 12898453179.62394,
 datetime.datetime(2019, 5, 31, 0, 0): 13397243638.054873,
 datetime.datetime(2019, 6, 30, 0, 0): 13825593044.762144,
 datetime.datetime(2019, 7, 31, 0, 0): 13995753895.937916,
 datetime.datetime(2019, 8, 31, 0, 0): 15128535563.358795,
 datetime.datetime(2019, 9, 30, 0, 0): 14761258376.433142,
 datetime.datetime(2019, 10, 31, 0, 0): 14763157146.755487,
 datetime.datetime(2019, 11, 30, 0, 0): 14759238312.323132,
 datetime.datetime(2019, 12, 31, 0, 0): 14522157110.37596,
 datetime.datetime(2020, 1, 31, 0, 0): 15364807622.309177,
 datetime.datetime(2020, 2, 29, 0, 0): 15817669589.306034,
 datetime.datetime(2020, 3, 31, 0, 0): 14768230621.704147,
 datetime.datetime(2020, 4, 30, 0, 0): 15724430712.586573,
 datetime.datetime(2020, 5, 31, 0, 0): 15819327670.82057,
 datetime.datetime(2020, 6, 30, 0, 0): 16050042209.766287,
 datetime.datetime(2020, 7, 31, 0, 0): 17277197553.255505,
 datetime.datetime(2020, 8, 31, 0, 0): 16196642282.28582,
 datetime.datetime(2020, 9, 30, 0, 0): 16215061226.178268,
 datetime.datetime(2020, 10, 31, 0, 0): 15829096781.85946,
 datetime.datetime(2020, 11, 30, 0, 0): 16649796229.198421,
 datetime.datetime(2020, 12, 31, 0, 0): 16583432426.037113,
 datetime.datetime(2021, 1, 31, 0, 0): 15933254711.808287,
 datetime.datetime(2021, 2, 28, 0, 0): 15188499974.495281,
 datetime.datetime(2021, 3, 31, 0, 0): 14576418210.547094,
 datetime.datetime(2021, 4, 30, 0, 0): 14930378222.988848,
 datetime.datetime(2021, 5, 31, 0, 0): 14970810418.37663,
 datetime.datetime(2021, 6, 30, 0, 0): 15614564429.274902,
 datetime.datetime(2021, 7, 31, 0, 0): 16002984187.248568,
 datetime.datetime(2021, 8, 31, 0, 0): 15856596259.620056,
 datetime.datetime(2021, 9, 30, 0, 0): 15497894914.942074}

In [28]:
pv_df_tot = pd.DataFrame(liab_plan_dict_tot, index = ['Present Values']).transpose()

pv_df_tot

            Present Values
2009-12-31    9.467110e+09
2010-01-31    9.556213e+09
2010-02-28    9.487087e+09
2010-03-31    9.402781e+09
2010-04-30    9.749068e+09
...                    ...
2021-05-31    1.497081e+10
2021-06-30    1.561456e+10
2021-07-31    1.600298e+10
2021-08-31    1.585660e+10
2021-09-30    1.549789e+10

[142 rows x 1 columns]

In [29]:
Plan_Return_YC_Tot = np.zeros(len(liab_plan_dict_tot)-1)
#for j in range (0,len(Time_DR)):
for i in range (0,len(liab_plan_dict_tot)-1):
    #print(i)
#     print(IBT_Return_YC[i])
    Plan_Return_YC_Tot[i] = ((pv_df_tot['Present Values'][i+1])/pv_df_tot['Present Values'][i])-1
Plan_Returns_YC_Tot = pd.DataFrame(Plan_Return_YC_Tot)
Plan_Returns_YC_Tot

            0
0    0.009412
1   -0.007234
2   -0.008886
3    0.036828
4   -0.004959
..        ...
136  0.002708
137  0.043001
138  0.024875
139 -0.009148
140 -0.022622

[141 rows x 1 columns]

In [30]:
#export monthly dataframe to excel
filepath = (PLAN+ ' Liability & SC Returns & PV.xlsx')
writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
Plan_Returns_YC_Tot.to_excel(writer, sheet_name='returns')
pv_df_tot.to_excel(writer, sheet_name='pv')
writer.save()

Calculate IRR's

In [31]:
Plan_DR = pd.read_excel("UPS Pension - Historical Liability Data - 9.30.21.xlsx",sheet_name = PLAN ,skiprows = [0,1,2,3],usecols=[1,2], na_values=[""],index_col=0)
#dataset.set_index('Year')
Plan_DR

                 IRR
Date
2009-12-31  0.059959
2010-01-31  0.058975
2010-02-28  0.059820
2010-03-31  0.060101
2010-04-30  0.057504
...              ...
2021-05-31  0.030762
2021-06-30  0.028554
2021-07-31  0.027088
2021-08-31  0.027607
2021-09-30  0.032400

[142 rows x 1 columns]

In [32]:
#col_DR = Plan_DR.columns
#df_DR_M =  (1+Plan_DR)**(1/12)-1
#df_DR_M = Plan_DR
IRR = Plan_DR['IRR']
IRR

Date
2009-12-31    0.059959
2010-01-31    0.058975
2010-02-28    0.059820
2010-03-31    0.060101
2010-04-30    0.057504
                ...
2021-05-31    0.030762
2021-06-30    0.028554
2021-07-31    0.027088
2021-08-31    0.027607
2021-09-30    0.032400
Name: IRR, Length: 142, dtype: float64

In [33]:
#liab_plan_dict_dr={}
#for col in Plan_DR.columns:
    #print('col: {}'.format(col))
#temp_pv=0
for j in range (len(Plan_DR)):
    for i in range (len(Time_CF)):
    #for j in range (0,len(Time_CF)):
        temp_pv += (CF[i]/((1+Plan_DR['IRR'][j]**DF[i])))
    #liab_plan_dict_dr[col] = temp_pv
    PV_DR = temp_pv
PV_DR

3974936712096.848

In [34]:
temp_pv = (CF[0]/((1+Plan_DR['IRR'][-1])**DF[0]))
temp_pv

30993174.718990065

In [35]:
Plan_PV_DR = np.zeros(len(Plan_DR))
for j in range (len(Plan_DR)):
    for i in range (len(Time_CF)):
        Plan_PV_DR[j] += (CF[i]/((1+Plan_DR['IRR'][j])**DF[i]))
Plan_PV_DR

array([9.29336565e+09, 9.42045483e+09, 9.31104495e+09, 9.27523915e+09,
       9.61590533e+09, 9.46050351e+09, 9.93155311e+09, 1.00908218e+10,
       1.06079164e+10, 1.05083114e+10, 1.01387245e+10, 1.00525102e+10,
       9.96091844e+09, 9.65217195e+09, 9.84778344e+09, 9.70762421e+09,
       9.94852305e+09, 1.01100236e+10, 9.83579907e+09, 1.01947065e+10,
       1.03539345e+10, 1.09062177e+10, 1.09699870e+10, 1.10204328e+10,
       1.15061017e+10, 1.14824835e+10, 1.15329407e+10, 1.12114178e+10,
       1.14341247e+10, 1.17581639e+10, 1.22349737e+10, 1.30105628e+10,
       1.28834870e+10, 1.27119687e+10, 1.29644103e+10, 1.28048406e+10,
       1.25407661e+10, 1.20454800e+10, 1.21517371e+10, 1.20283597e+10,
       1.25086580e+10, 1.16919306e+10, 1.11144060e+10, 1.11325889e+10,
       1.10718694e+10, 1.10035188e+10, 1.12151338e+10, 1.10278015e+10,
       1.09533609e+10, 1.14312761e+10, 1.15971597e+10, 1.16675468e+10,
       1.18574817e+10, 1.20951074e+10, 1.20765841e+10, 1.20680286e+10,
       1.24918778e+10, 1.20733313e+10, 1.22780556e+10, 1.25116386e+10,
       1.27217971e+10, 1.37022548e+10, 1.30991178e+10, 1.31343427e+10,
       1.27299578e+10, 1.24101995e+10, 1.18484256e+10, 1.20801614e+10,
       1.19152066e+10, 1.19633271e+10, 1.20287942e+10, 1.20270404e+10,
       1.19376173e+10, 1.19611201e+10, 1.22264443e+10, 1.26816772e+10,
       1.29428462e+10, 1.28897347e+10, 1.33674785e+10, 1.36542867e+10,
       1.37220949e+10, 1.34885566e+10, 1.30434374e+10, 1.23082372e+10,
       1.23142553e+10, 1.22913241e+10, 1.25356932e+10, 1.23753641e+10,
       1.25247739e+10, 1.27912288e+10, 1.28719899e+10, 1.28991141e+10,
       1.31434344e+10, 1.29794205e+10, 1.30520825e+10, 1.30777278e+10,
       1.34377369e+10, 1.29994222e+10, 1.25520209e+10, 1.26551281e+10,
       1.24172441e+10, 1.25138100e+10, 1.22555406e+10, 1.22856083e+10,
       1.23939411e+10, 1.21461448e+10, 1.16979502e+10, 1.16796245e+10,
       1.20909067e+10, 1.23116825e+10, 1.22659447e+10, 1.28760850e+10,
       1.27156839e+10, 1.32018376e+10, 1.35728813e+10, 1.37460429e+10,
       1.48357866e+10, 1.44694214e+10, 1.44706085e+10, 1.44746599e+10,
       1.41755154e+10, 1.50774992e+10, 1.55168248e+10, 1.37893558e+10,
       1.48596087e+10, 1.51828914e+10, 1.54837101e+10, 1.66845140e+10,
       1.57660260e+10, 1.56875272e+10, 1.52430168e+10, 1.60061912e+10,
       1.60588499e+10, 1.55549936e+10, 1.48580931e+10, 1.42671925e+10,
       1.46217479e+10, 1.47187073e+10, 1.53212114e+10, 1.57417816e+10,
       1.55910038e+10, 1.42949349e+10])

In [36]:
pv_df_dr = pd.DataFrame(Plan_PV_DR, columns=['Present Values'])
#np.negative(pv_df_dr['Present Values'])
test = np.append(np.negative(pv_df_dr['Present Values'][0]),CF)
#pv_df_dr['Present Values']
test

array([-9.29336565e+09,  3.10756388e+07,  3.10756388e+07,  3.10756388e+07,
        3.53332242e+07,  3.53332242e+07,  3.53332242e+07,  3.53332242e+07,
        3.53332242e+07,  3.53332242e+07,  3.53332242e+07,  3.53332242e+07,
        3.53332242e+07,  3.53332242e+07,  3.53332242e+07,  3.53332242e+07,
        3.80863224e+07,  3.80863224e+07,  3.80863224e+07,  3.80863224e+07,
        3.80863224e+07,  3.80863224e+07,  3.80863224e+07,  3.80863224e+07,
        3.80863224e+07,  3.80863224e+07,  3.80863224e+07,  3.80863224e+07,
        4.06970095e+07,  4.06970095e+07,  4.06970095e+07,  4.06970095e+07,
        4.06970095e+07,  4.06970095e+07,  4.06970095e+07,  4.06970095e+07,
        4.06970095e+07,  4.06970095e+07,  4.06970095e+07,  4.06970095e+07,
        4.30675742e+07,  4.30675742e+07,  4.30675742e+07,  4.30675742e+07,
        4.30675742e+07,  4.30675742e+07,  4.30675742e+07,  4.30675742e+07,
        4.30675742e+07,  4.30675742e+07,  4.30675742e+07,  4.30675742e+07,
        4.50746205e+07,  4.50746205e+07,  4.50746205e+07,  4.50746205e+07,
        4.50746205e+07,  4.50746205e+07,  4.50746205e+07,  4.50746205e+07,
        4.50746205e+07,  4.50746205e+07,  4.50746205e+07,  4.50746205e+07,
        4.69291030e+07,  4.69291030e+07,  4.69291030e+07,  4.69291030e+07,
        4.69291030e+07,  4.69291030e+07,  4.69291030e+07,  4.69291030e+07,
        4.69291030e+07,  4.69291030e+07,  4.69291030e+07,  4.69291030e+07,
        4.86028114e+07,  4.86028114e+07,  4.86028114e+07,  4.86028114e+07,
        4.86028114e+07,  4.86028114e+07,  4.86028114e+07,  4.86028114e+07,
        4.86028114e+07,  4.86028114e+07,  4.86028114e+07,  4.86028114e+07,
        5.00102925e+07,  5.00102925e+07,  5.00102925e+07,  5.00102925e+07,
        5.00102925e+07,  5.00102925e+07,  5.00102925e+07,  5.00102925e+07,
        5.00102925e+07,  5.00102925e+07,  5.00102925e+07,  5.00102925e+07,
        5.11884969e+07,  5.11884969e+07,  5.11884969e+07,  5.11884969e+07,
        5.11884969e+07,  5.11884969e+07,  5.11884969e+07,  5.11884969e+07,
        5.11884969e+07,  5.11884969e+07,  5.11884969e+07,  5.11884969e+07,
        5.21832080e+07,  5.21832080e+07,  5.21832080e+07,  5.21832080e+07,
        5.21832080e+07,  5.21832080e+07,  5.21832080e+07,  5.21832080e+07,
        5.21832080e+07,  5.21832080e+07,  5.21832080e+07,  5.21832080e+07,
        5.30820606e+07,  5.30820606e+07,  5.30820606e+07,  5.30820606e+07,
        5.30820606e+07,  5.30820606e+07,  5.30820606e+07,  5.30820606e+07,
        5.30820606e+07,  5.30820606e+07,  5.30820606e+07,  5.30820606e+07,
        5.38557641e+07,  5.38557641e+07,  5.38557641e+07,  5.38557641e+07,
        5.38557641e+07,  5.38557641e+07,  5.38557641e+07,  5.38557641e+07,
        5.38557641e+07,  5.38557641e+07,  5.38557641e+07,  5.38557641e+07,
        5.44732607e+07,  5.44732607e+07,  5.44732607e+07,  5.44732607e+07,
        5.44732607e+07,  5.44732607e+07,  5.44732607e+07,  5.44732607e+07,
        5.44732607e+07,  5.44732607e+07,  5.44732607e+07,  5.44732607e+07,
        5.49140141e+07,  5.49140141e+07,  5.49140141e+07,  5.49140141e+07,
        5.49140141e+07,  5.49140141e+07,  5.49140141e+07,  5.49140141e+07,
        5.49140141e+07,  5.49140141e+07,  5.49140141e+07,  5.49140141e+07,
        5.52390189e+07,  5.52390189e+07,  5.52390189e+07,  5.52390189e+07,
        5.52390189e+07,  5.52390189e+07,  5.52390189e+07,  5.52390189e+07,
        5.52390189e+07,  5.52390189e+07,  5.52390189e+07,  5.52390189e+07,
        5.55906379e+07,  5.55906379e+07,  5.55906379e+07,  5.55906379e+07,
        5.55906379e+07,  5.55906379e+07,  5.55906379e+07,  5.55906379e+07,
        5.55906379e+07,  5.55906379e+07,  5.55906379e+07,  5.55906379e+07,
        5.59722150e+07,  5.59722150e+07,  5.59722150e+07,  5.59722150e+07,
        5.59722150e+07,  5.59722150e+07,  5.59722150e+07,  5.59722150e+07,
        5.59722150e+07,  5.59722150e+07,  5.59722150e+07,  5.59722150e+07,
        5.62805790e+07,  5.62805790e+07,  5.62805790e+07,  5.62805790e+07,
        5.62805790e+07,  5.62805790e+07,  5.62805790e+07,  5.62805790e+07,
        5.62805790e+07,  5.62805790e+07,  5.62805790e+07,  5.62805790e+07,
        5.64611051e+07,  5.64611051e+07,  5.64611051e+07,  5.64611051e+07,
        5.64611051e+07,  5.64611051e+07,  5.64611051e+07,  5.64611051e+07,
        5.64611051e+07,  5.64611051e+07,  5.64611051e+07,  5.64611051e+07,
        5.64981158e+07,  5.64981158e+07,  5.64981158e+07,  5.64981158e+07,
        5.64981158e+07,  5.64981158e+07,  5.64981158e+07,  5.64981158e+07,
        5.64981158e+07,  5.64981158e+07,  5.64981158e+07,  5.64981158e+07,
        5.63831820e+07,  5.63831820e+07,  5.63831820e+07,  5.63831820e+07,
        5.63831820e+07,  5.63831820e+07,  5.63831820e+07,  5.63831820e+07,
        5.63831820e+07,  5.63831820e+07,  5.63831820e+07,  5.63831820e+07,
        5.61116761e+07,  5.61116761e+07,  5.61116761e+07,  5.61116761e+07,
        5.61116761e+07,  5.61116761e+07,  5.61116761e+07,  5.61116761e+07,
        5.61116761e+07,  5.61116761e+07,  5.61116761e+07,  5.61116761e+07,
        5.56990879e+07,  5.56990879e+07,  5.56990879e+07,  5.56990879e+07,
        5.56990879e+07,  5.56990879e+07,  5.56990879e+07,  5.56990879e+07,
        5.56990879e+07,  5.56990879e+07,  5.56990879e+07,  5.56990879e+07,
        5.51351071e+07,  5.51351071e+07,  5.51351071e+07,  5.51351071e+07,
        5.51351071e+07,  5.51351071e+07,  5.51351071e+07,  5.51351071e+07,
        5.51351071e+07,  5.51351071e+07,  5.51351071e+07,  5.51351071e+07,
        5.44075331e+07,  5.44075331e+07,  5.44075331e+07,  5.44075331e+07,
        5.44075331e+07,  5.44075331e+07,  5.44075331e+07,  5.44075331e+07,
        5.44075331e+07,  5.44075331e+07,  5.44075331e+07,  5.44075331e+07,
        5.35265764e+07,  5.35265764e+07,  5.35265764e+07,  5.35265764e+07,
        5.35265764e+07,  5.35265764e+07,  5.35265764e+07,  5.35265764e+07,
        5.35265764e+07,  5.35265764e+07,  5.35265764e+07,  5.35265764e+07,
        5.24875699e+07,  5.24875699e+07,  5.24875699e+07,  5.24875699e+07,
        5.24875699e+07,  5.24875699e+07,  5.24875699e+07,  5.24875699e+07,
        5.24875699e+07,  5.24875699e+07,  5.24875699e+07,  5.24875699e+07,
        5.12998771e+07,  5.12998771e+07,  5.12998771e+07,  5.12998771e+07,
        5.12998771e+07,  5.12998771e+07,  5.12998771e+07,  5.12998771e+07,
        5.12998771e+07,  5.12998771e+07,  5.12998771e+07,  5.12998771e+07,
        4.99792771e+07,  4.99792771e+07,  4.99792771e+07,  4.99792771e+07,
        4.99792771e+07,  4.99792771e+07,  4.99792771e+07,  4.99792771e+07,
        4.99792771e+07,  4.99792771e+07,  4.99792771e+07,  4.99792771e+07,
        4.90140110e+07,  4.90140110e+07,  4.90140110e+07,  4.90140110e+07,
        4.90140110e+07,  4.90140110e+07,  4.90140110e+07,  4.90140110e+07,
        4.90140110e+07,  4.90140110e+07,  4.90140110e+07,  4.90140110e+07,
        5.44489658e+07,  5.44489658e+07,  5.44489658e+07,  5.44489658e+07,
        5.44489658e+07,  5.44489658e+07,  5.44489658e+07,  5.44489658e+07,
        5.44489658e+07,  5.44489658e+07,  5.44489658e+07,  5.44489658e+07,
        5.82370811e+07,  5.82370811e+07,  5.82370811e+07,  5.82370811e+07,
        5.82370811e+07,  5.82370811e+07,  5.82370811e+07,  5.82370811e+07,
        5.82370811e+07,  5.82370811e+07,  5.82370811e+07,  5.82370811e+07,
        5.50350001e+07,  5.50350001e+07,  5.50350001e+07,  5.50350001e+07,
        5.50350001e+07,  5.50350001e+07,  5.50350001e+07,  5.50350001e+07,
        5.50350001e+07,  5.50350001e+07,  5.50350001e+07,  5.50350001e+07,
        5.17818147e+07,  5.17818147e+07,  5.17818147e+07,  5.17818147e+07,
        5.17818147e+07,  5.17818147e+07,  5.17818147e+07,  5.17818147e+07,
        5.17818147e+07,  5.17818147e+07,  5.17818147e+07,  5.17818147e+07,
        4.85063729e+07,  4.85063729e+07,  4.85063729e+07,  4.85063729e+07,
        4.85063729e+07,  4.85063729e+07,  4.85063729e+07,  4.85063729e+07,
        4.85063729e+07,  4.85063729e+07,  4.85063729e+07,  4.85063729e+07,
        4.58183658e+07,  4.58183658e+07,  4.58183658e+07,  4.58183658e+07,
        4.58183658e+07,  4.58183658e+07,  4.58183658e+07,  4.58183658e+07,
        4.58183658e+07,  4.58183658e+07,  4.58183658e+07,  4.58183658e+07,
        4.33030585e+07,  4.33030585e+07,  4.33030585e+07,  4.33030585e+07,
        4.33030585e+07,  4.33030585e+07,  4.33030585e+07,  4.33030585e+07,
        4.33030585e+07,  4.33030585e+07,  4.33030585e+07,  4.33030585e+07,
        4.03154631e+07,  4.03154631e+07,  4.03154631e+07,  4.03154631e+07,
        4.03154631e+07,  4.03154631e+07,  4.03154631e+07,  4.03154631e+07,
        4.03154631e+07,  4.03154631e+07,  4.03154631e+07,  4.03154631e+07,
        3.74077617e+07,  3.74077617e+07,  3.74077617e+07,  3.74077617e+07,
        3.74077617e+07,  3.74077617e+07,  3.74077617e+07,  3.74077617e+07,
        3.74077617e+07,  3.74077617e+07,  3.74077617e+07,  3.74077617e+07,
        3.45978304e+07,  3.45978304e+07,  3.45978304e+07,  3.45978304e+07,
        3.45978304e+07,  3.45978304e+07,  3.45978304e+07,  3.45978304e+07,
        3.45978304e+07,  3.45978304e+07,  3.45978304e+07,  3.45978304e+07,
        3.18995832e+07,  3.18995832e+07,  3.18995832e+07,  3.18995832e+07,
        3.18995832e+07,  3.18995832e+07,  3.18995832e+07,  3.18995832e+07,
        3.18995832e+07,  3.18995832e+07,  3.18995832e+07,  3.18995832e+07,
        2.93233826e+07,  2.93233826e+07,  2.93233826e+07,  2.93233826e+07,
        2.93233826e+07,  2.93233826e+07,  2.93233826e+07,  2.93233826e+07,
        2.93233826e+07,  2.93233826e+07,  2.93233826e+07,  2.93233826e+07,
        2.68787931e+07,  2.68787931e+07,  2.68787931e+07,  2.68787931e+07,
        2.68787931e+07,  2.68787931e+07,  2.68787931e+07,  2.68787931e+07,
        2.68787931e+07,  2.68787931e+07,  2.68787931e+07,  2.68787931e+07,
        2.45721403e+07,  2.45721403e+07,  2.45721403e+07,  2.45721403e+07,
        2.45721403e+07,  2.45721403e+07,  2.45721403e+07,  2.45721403e+07,
        2.45721403e+07,  2.45721403e+07,  2.45721403e+07,  2.45721403e+07,
        2.24057361e+07,  2.24057361e+07,  2.24057361e+07,  2.24057361e+07,
        2.24057361e+07,  2.24057361e+07,  2.24057361e+07,  2.24057361e+07,
        2.24057361e+07,  2.24057361e+07,  2.24057361e+07,  2.24057361e+07,
        2.03790774e+07,  2.03790774e+07,  2.03790774e+07,  2.03790774e+07,
        2.03790774e+07,  2.03790774e+07,  2.03790774e+07,  2.03790774e+07,
        2.03790774e+07,  2.03790774e+07,  2.03790774e+07,  2.03790774e+07,
        1.84897502e+07,  1.84897502e+07,  1.84897502e+07,  1.84897502e+07,
        1.84897502e+07,  1.84897502e+07,  1.84897502e+07,  1.84897502e+07,
        1.84897502e+07,  1.84897502e+07,  1.84897502e+07,  1.84897502e+07,
        1.67341412e+07,  1.67341412e+07,  1.67341412e+07,  1.67341412e+07,
        1.67341412e+07,  1.67341412e+07,  1.67341412e+07,  1.67341412e+07,
        1.67341412e+07,  1.67341412e+07,  1.67341412e+07,  1.67341412e+07,
        1.51071816e+07,  1.51071816e+07,  1.51071816e+07,  1.51071816e+07,
        1.51071816e+07,  1.51071816e+07,  1.51071816e+07,  1.51071816e+07,
        1.51071816e+07,  1.51071816e+07,  1.51071816e+07,  1.51071816e+07,
        1.36034140e+07,  1.36034140e+07,  1.36034140e+07,  1.36034140e+07,
        1.36034140e+07,  1.36034140e+07,  1.36034140e+07,  1.36034140e+07,
        1.36034140e+07,  1.36034140e+07,  1.36034140e+07,  1.36034140e+07,
        1.22169223e+07,  1.22169223e+07,  1.22169223e+07,  1.22169223e+07,
        1.22169223e+07,  1.22169223e+07,  1.22169223e+07,  1.22169223e+07,
        1.22169223e+07,  1.22169223e+07,  1.22169223e+07,  1.22169223e+07,
        1.09411257e+07,  1.09411257e+07,  1.09411257e+07,  1.09411257e+07,
        1.09411257e+07,  1.09411257e+07,  1.09411257e+07,  1.09411257e+07,
        1.09411257e+07,  1.09411257e+07,  1.09411257e+07,  1.09411257e+07,
        9.76937396e+06,  9.76937396e+06,  9.76937396e+06,  9.76937396e+06,
        9.76937396e+06,  9.76937396e+06,  9.76937396e+06,  9.76937396e+06,
        9.76937396e+06,  9.76937396e+06,  9.76937396e+06,  9.76937396e+06,
        8.69528451e+06,  8.69528451e+06,  8.69528451e+06,  8.69528451e+06,
        8.69528451e+06,  8.69528451e+06,  8.69528451e+06,  8.69528451e+06,
        8.69528451e+06,  8.69528451e+06,  8.69528451e+06,  8.69528451e+06,
        7.71272963e+06,  7.71272963e+06,  7.71272963e+06,  7.71272963e+06,
        7.71272963e+06,  7.71272963e+06,  7.71272963e+06,  7.71272963e+06,
        7.71272963e+06,  7.71272963e+06,  7.71272963e+06,  7.71272963e+06,
        6.81587266e+06,  6.81587266e+06,  6.81587266e+06,  6.81587266e+06,
        6.81587266e+06,  6.81587266e+06,  6.81587266e+06,  6.81587266e+06,
        6.81587266e+06,  6.81587266e+06,  6.81587266e+06,  6.81587266e+06,
        5.99896946e+06,  5.99896946e+06,  5.99896946e+06,  5.99896946e+06,
        5.99896946e+06,  5.99896946e+06,  5.99896946e+06,  5.99896946e+06,
        5.99896946e+06,  5.99896946e+06,  5.99896946e+06,  5.99896946e+06,
        5.25718696e+06,  5.25718696e+06,  5.25718696e+06,  5.25718696e+06,
        5.25718696e+06,  5.25718696e+06,  5.25718696e+06,  5.25718696e+06,
        5.25718696e+06,  5.25718696e+06,  5.25718696e+06,  5.25718696e+06,
        4.58540190e+06,  4.58540190e+06,  4.58540190e+06,  4.58540190e+06,
        4.58540190e+06,  4.58540190e+06,  4.58540190e+06,  4.58540190e+06,
        4.58540190e+06,  4.58540190e+06,  4.58540190e+06,  4.58540190e+06,
        3.97898996e+06,  3.97898996e+06,  3.97898996e+06,  3.97898996e+06,
        3.97898996e+06,  3.97898996e+06,  3.97898996e+06,  3.97898996e+06,
        3.97898996e+06,  3.97898996e+06,  3.97898996e+06,  3.97898996e+06,
        3.43361904e+06,  3.43361904e+06,  3.43361904e+06,  3.43361904e+06,
        3.43361904e+06,  3.43361904e+06,  3.43361904e+06,  3.43361904e+06,
        3.43361904e+06,  3.43361904e+06,  3.43361904e+06,  3.43361904e+06,
        2.94524847e+06,  2.94524847e+06,  2.94524847e+06,  2.94524847e+06,
        2.94524847e+06,  2.94524847e+06,  2.94524847e+06,  2.94524847e+06,
        2.94524847e+06,  2.94524847e+06,  2.94524847e+06,  2.94524847e+06,
        2.51002868e+06,  2.51002868e+06,  2.51002868e+06,  2.51002868e+06,
        2.51002868e+06,  2.51002868e+06,  2.51002868e+06,  2.51002868e+06,
        2.51002868e+06,  2.51002868e+06,  2.51002868e+06,  2.51002868e+06,
        2.12427183e+06,  2.12427183e+06,  2.12427183e+06,  2.12427183e+06,
        2.12427183e+06,  2.12427183e+06,  2.12427183e+06,  2.12427183e+06,
        2.12427183e+06,  2.12427183e+06,  2.12427183e+06,  2.12427183e+06,
        1.78440705e+06,  1.78440705e+06,  1.78440705e+06,  1.78440705e+06,
        1.78440705e+06,  1.78440705e+06,  1.78440705e+06,  1.78440705e+06,
        1.78440705e+06,  1.78440705e+06,  1.78440705e+06,  1.78440705e+06,
        1.48696625e+06,  1.48696625e+06,  1.48696625e+06,  1.48696625e+06,
        1.48696625e+06,  1.48696625e+06,  1.48696625e+06,  1.48696625e+06,
        1.48696625e+06,  1.48696625e+06,  1.48696625e+06,  1.48696625e+06,
        1.22855482e+06,  1.22855482e+06,  1.22855482e+06,  1.22855482e+06,
        1.22855482e+06,  1.22855482e+06,  1.22855482e+06,  1.22855482e+06,
        1.22855482e+06,  1.22855482e+06,  1.22855482e+06,  1.22855482e+06,
        1.00583424e+06,  1.00583424e+06,  1.00583424e+06,  1.00583424e+06,
        1.00583424e+06,  1.00583424e+06,  1.00583424e+06,  1.00583424e+06,
        1.00583424e+06,  1.00583424e+06,  1.00583424e+06,  1.00583424e+06,
        8.15535849e+05,  8.15535849e+05,  8.15535849e+05,  8.15535849e+05,
        8.15535849e+05,  8.15535849e+05,  8.15535849e+05,  8.15535849e+05,
        8.15535849e+05,  8.15535849e+05,  8.15535849e+05,  8.15535849e+05,
        6.54456022e+05,  6.54456022e+05,  6.54456022e+05,  6.54456022e+05,
        6.54456022e+05,  6.54456022e+05,  6.54456022e+05,  6.54456022e+05,
        6.54456022e+05,  6.54456022e+05,  6.54456022e+05,  6.54456022e+05,
        5.19456086e+05,  5.19456086e+05,  5.19456086e+05,  5.19456086e+05,
        5.19456086e+05,  5.19456086e+05,  5.19456086e+05,  5.19456086e+05,
        5.19456086e+05,  5.19456086e+05,  5.19456086e+05,  5.19456086e+05,
        4.07503284e+05,  4.07503284e+05,  4.07503284e+05,  4.07503284e+05,
        4.07503284e+05,  4.07503284e+05,  4.07503284e+05,  4.07503284e+05,
        4.07503284e+05,  4.07503284e+05,  4.07503284e+05,  4.07503284e+05,
        3.15707073e+05,  3.15707073e+05,  3.15707073e+05,  3.15707073e+05,
        3.15707073e+05,  3.15707073e+05,  3.15707073e+05,  3.15707073e+05,
        3.15707073e+05,  3.15707073e+05,  3.15707073e+05,  3.15707073e+05,
        2.41343199e+05,  2.41343199e+05,  2.41343199e+05,  2.41343199e+05,
        2.41343199e+05,  2.41343199e+05,  2.41343199e+05,  2.41343199e+05,
        2.41343199e+05,  2.41343199e+05,  2.41343199e+05,  2.41343199e+05,
        1.81882373e+05,  1.81882373e+05,  1.81882373e+05,  1.81882373e+05,
        1.81882373e+05,  1.81882373e+05,  1.81882373e+05,  1.81882373e+05,
        1.81882373e+05,  1.81882373e+05,  1.81882373e+05,  1.81882373e+05,
        1.35008548e+05,  1.35008548e+05,  1.35008548e+05,  1.35008548e+05,
        1.35008548e+05,  1.35008548e+05,  1.35008548e+05,  1.35008548e+05,
        1.35008548e+05,  1.35008548e+05,  1.35008548e+05,  1.35008548e+05,
        9.86191298e+04,  9.86191298e+04,  9.86191298e+04,  9.86191298e+04,
        9.86191298e+04,  9.86191298e+04,  9.86191298e+04,  9.86191298e+04,
        9.86191298e+04,  9.86191298e+04,  9.86191298e+04,  9.86191298e+04,
        7.08286927e+04,  7.08286927e+04,  7.08286927e+04,  7.08286927e+04,
        7.08286927e+04,  7.08286927e+04,  7.08286927e+04,  7.08286927e+04,
        7.08286927e+04,  7.08286927e+04,  7.08286927e+04,  7.08286927e+04,
        4.99728609e+04,  4.99728609e+04,  4.99728609e+04,  4.99728609e+04,
        4.99728609e+04,  4.99728609e+04,  4.99728609e+04,  4.99728609e+04,
        4.99728609e+04,  4.99728609e+04,  4.99728609e+04,  4.99728609e+04,
        3.46086614e+04])

In [37]:
#pv_df_dr = pd.DataFrame(Plan_PV_DR)
#export monthly dataframe to excel
filepath = (PLAN+ ' Liability PV Using DR.xlsx')
writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
pv_df_dr.to_excel(writer, sheet_name='Present Values')
writer.save()

In [38]:
import numpy as np
from scipy.optimize import fsolve

def npv(irr, cfs, yrs):  
    return np.sum(cfs / (1. + irr) ** yrs)

def irr(cfs, yrs, x0, **kwargs):
    return np.asscalar(fsolve(npv, x0=x0, args=(cfs, yrs), **kwargs))

In [39]:
IRR = np.zeros(len(pv_df))
for j in range (len(pv_df)):
    cash_flow = np.append(np.negative(pv_df['Present Values'][j]),CF)
    years_ago = np.append(0,DF)
    IRR[j] = irr(cash_flow, years_ago, x0=0.10, maxfev=10000)
IRR

array([0.05881071, 0.05813718, 0.05865657, 0.05929937, 0.05671823,
       0.05706954, 0.05358092, 0.05285641, 0.04910549, 0.0500316 ,
       0.05263295, 0.05308212, 0.0542178 , 0.05642237, 0.05524537,
       0.05621971, 0.05463125, 0.05336608, 0.05532199, 0.05220733,
       0.05066326, 0.04602532, 0.04605388, 0.04601503, 0.04319474,
       0.04345007, 0.04332837, 0.0455904 , 0.04424987, 0.04229903,
       0.04021601, 0.03635177, 0.03723348, 0.03825684, 0.03715757,
       0.03792001, 0.03927629, 0.04176828, 0.04129672, 0.04187191,
       0.03942961, 0.04371754, 0.04682956, 0.046926  , 0.04740859,
       0.04786575, 0.04676954, 0.0479006 , 0.04824794, 0.04560087,
       0.04469608, 0.04433832, 0.04329714, 0.04212557, 0.04230866,
       0.04230614, 0.04015171, 0.04223122, 0.04098365, 0.03991162,
       0.03869576, 0.03411321, 0.036815  , 0.0367148 , 0.03862506,
       0.04046132, 0.04332333, 0.04202402, 0.04279736, 0.04216219,
       0.04200598, 0.04211836, 0.04239294, 0.04184409, 0.04044818,
       0.03819436, 0.0372865 , 0.03760972, 0.03509333, 0.03369119,
       0.03372449, 0.03481645, 0.0368219 , 0.04059747, 0.04062359,
       0.04082114, 0.0396021 , 0.04041077, 0.03954996, 0.03837995,
       0.03800463, 0.0377946 , 0.03689388, 0.03755843, 0.03715037,
       0.0371643 , 0.03550451, 0.03736748, 0.03962694, 0.03915916,
       0.04038081, 0.03980521, 0.04098491, 0.04059842, 0.04023976,
       0.04135744, 0.04401379, 0.04398698, 0.0417088 , 0.04011358,
       0.04059169, 0.03775238, 0.038557  , 0.03631328, 0.03448683,
       0.03378559, 0.0294284 , 0.03078531, 0.03077782, 0.03079316,
       0.03169657, 0.02858158, 0.0270121 , 0.03076014, 0.02732885,
       0.0270041 , 0.02623068, 0.02238041, 0.02574722, 0.02568729,
       0.02697053, 0.0242962 , 0.02450513, 0.02662032, 0.02920945,
       0.03148612, 0.03015251, 0.03000297, 0.02770666, 0.02638844,
       0.02687964, 0.0281124 ])

In [40]:
IRR = np.zeros(len(pv_df_tot))
for j in range (len(pv_df_tot)):
    cash_flow = np.append(np.negative(pv_df_tot['Present Values'][j]),CF)
    years_ago = np.append(0,DF)
    IRR[j] = irr(cash_flow, years_ago, x0=0.10, maxfev=10000)
IRR

array([0.05861952, 0.05794832, 0.05846814, 0.05911057, 0.05653008,
       0.0568813 , 0.05339368, 0.05267093, 0.04892175, 0.04984799,
       0.05245021, 0.05289797, 0.0540305 , 0.05623608, 0.05505877,
       0.05603281, 0.05444555, 0.05318125, 0.05513658, 0.05202352,
       0.05048005, 0.04583927, 0.04586839, 0.04582887, 0.04300978,
       0.04326754, 0.04314573, 0.04540704, 0.04406814, 0.04211751,
       0.04003413, 0.03617023, 0.03705275, 0.03807613, 0.0369774 ,
       0.03773993, 0.03909629, 0.04158691, 0.04111586, 0.04169123,
       0.03924923, 0.04353561, 0.04664606, 0.04674237, 0.04722398,
       0.04768261, 0.0465872 , 0.04771783, 0.0480641 , 0.04541745,
       0.0445128 , 0.04415436, 0.0431134 , 0.04194284, 0.04212546,
       0.04212252, 0.03996865, 0.04204732, 0.04079995, 0.0397283 ,
       0.03851177, 0.03392971, 0.03663156, 0.03653122, 0.03844186,
       0.0402782 , 0.04313937, 0.04184013, 0.04261304, 0.04197895,
       0.04182279, 0.04193505, 0.04220916, 0.04166111, 0.0402654 ,
       0.03801258, 0.03710481, 0.03742774, 0.03491262, 0.03351068,
       0.03354326, 0.03463509, 0.03664009, 0.04041362, 0.04043892,
       0.04063641, 0.03941782, 0.04022622, 0.0393661 , 0.03819628,
       0.03782027, 0.0376106 , 0.03671031, 0.03737413, 0.0369659 ,
       0.03697908, 0.03531912, 0.03718069, 0.03943926, 0.0389713 ,
       0.04019232, 0.03961704, 0.04079602, 0.04040943, 0.04005125,
       0.0411682 , 0.04382419, 0.04379748, 0.04152012, 0.03992639,
       0.04040437, 0.03756651, 0.03837095, 0.03612815, 0.03430275,
       0.0336016 , 0.02924547, 0.03060187, 0.03059473, 0.03060947,
       0.03151283, 0.028399  , 0.02683031, 0.03057565, 0.02714771,
       0.02682469, 0.02605141, 0.02220174, 0.02556867, 0.02550848,
       0.02679161, 0.02411698, 0.02432586, 0.02644074, 0.02902875,
       0.0313041 , 0.02997099, 0.02982177, 0.02752536, 0.02620777,
       0.02669864, 0.02793082])

In [41]:
IRR = np.zeros(len(Plan_DR))
for j in range (len(Plan_DR)):
    cash_flow = np.append(np.negative(pv_df_dr['Present Values'][j]),CF)
    years_ago = np.append(0,DF)
    IRR[j] = irr(cash_flow, years_ago, x0=0.10, maxfev=10000)
IRR

array([0.0599586 , 0.05897511, 0.05982047, 0.06010068, 0.05750438,
       0.0586697 , 0.05522964, 0.05412602, 0.05072926, 0.05136254,
       0.0537996 , 0.0543889 , 0.055024  , 0.05723685, 0.05582173,
       0.05683097, 0.05511068, 0.05399487, 0.0559071 , 0.05342129,
       0.0523634 , 0.04888853, 0.04850547, 0.04820495, 0.04541986,
       0.04555095, 0.04527141, 0.04708683, 0.04582071, 0.04404685,
       0.04157262, 0.03785525, 0.03844033, 0.03924443, 0.03806671,
       0.03880695, 0.04006411, 0.04253744, 0.04199351, 0.04262579,
       0.04021978, 0.04440309, 0.04765095, 0.04754462, 0.04790079,
       0.04830547, 0.04706538, 0.04816124, 0.048605  , 0.04583666,
       0.04491841, 0.04453504, 0.04351856, 0.04228246, 0.04237744,
       0.04242139, 0.04030139, 0.04239414, 0.04135653, 0.04020531,
       0.0391979 , 0.03481933, 0.03745275, 0.03729382, 0.0391593 ,
       0.04070108, 0.04356644, 0.04235908, 0.04321472, 0.04296319,
       0.04262355, 0.04263261, 0.04309738, 0.04297469, 0.04161554,
       0.0393882 , 0.03816591, 0.03841135, 0.03625834, 0.03502217,
       0.03473575, 0.03573153, 0.03770533, 0.04120585, 0.04117588,
       0.04129022, 0.04008866, 0.0408728 , 0.04014157, 0.03887076,
       0.0384937 , 0.03836789, 0.0372529 , 0.03799781, 0.037666  ,
       0.03754958, 0.03595176, 0.03790618, 0.04000969, 0.03951465,
       0.04066645, 0.04019476, 0.04146931, 0.04131877, 0.04078113,
       0.04202195, 0.04437058, 0.04446963, 0.04230398, 0.04118869,
       0.04141715, 0.03847468, 0.03922683, 0.03699112, 0.03536893,
       0.03463511, 0.03032251, 0.03171683, 0.03171223, 0.03169652,
       0.03287496, 0.02943094, 0.02786472, 0.03445379, 0.03023366,
       0.02904896, 0.02798043, 0.0240082 , 0.02700576, 0.02727411,
       0.02883284, 0.02619709, 0.02602222, 0.02773181, 0.03023931,
       0.0325098 , 0.03113064, 0.03076234, 0.0285537 , 0.02708843,
       0.02760687, 0.0324    ])

In [42]:
df_Raw_FTSE_YC_Pre2010 = pd.read_excel("Raw FTSE Data pre 2010.xlsx",skiprows = [0,2],usecols = [*range(14, 185)], na_values=[""])
#dataset.set_index('Date')
Raw_FTSE_YC_Pre2010 = df_Raw_FTSE_YC_Pre2010.copy()
#Raw_FTSE_YC = pd.DataFrame(Raw_FTSE_YC)
#df_Raw_FTSE_YC.set_index('Date')
col = Raw_FTSE_YC_Pre2010.columns
Raw_FTSE_YC_Pre2010

FileNotFoundError: [Errno 2] No such file or directory: 'Raw FTSE Data pre 2010.xlsx'

In [ ]:
Raw_FTSE_YC_Tot = Raw_FTSE_YC.join(Raw_FTSE_YC_Pre2010)
Raw_FTSE_YC_Tot

In [ ]:
raw_liab_ibt_dict_tot={}
tr = Raw_FTSE_YC_Tot['Date']
# list of raw (not interpolated) times to maturity
yr = Raw_FTSE_YC_Tot[col] 
# list of raw (not interpolated) yields
t = list(frange(0.5, 30.08, (1/12))) # interpolating in range 1..30 years

for col in Raw_FTSE_YC_Tot.columns:
    #print('col: {}'.format(col))
    y = []
    interp = sp.interpolate.interp1d(tr, Raw_FTSE_YC_Tot[col] , bounds_error=False, fill_value=sp.nan)
#for col in Raw_FTSE_YC.columns:
    #for col in FTSE_YC.columns:
    for i in t:
            value = float(interp(i))
            if not sp.isnan(value): # Don't include out-of-range values
                y.append(value)
                End_Rate = [y[-1]] * 592
                Beg_Rate = [y[0]] * 5
            raw_liab_ibt_dict_tot[col] = Beg_Rate + y + End_Rate
len(raw_liab_ibt_dict_tot[col])

In [ ]:
int_df_tot = pd.DataFrame(raw_liab_ibt_dict_tot)
int_df_tot = int_df_tot.drop(['Date'], axis=1)
int_df_tot = int_df_tot.iloc[:, ::-1]
int_df_tot

In [ ]:
liab_plan_dict_totdf={}
for col in int_df_tot.columns:
    #print('col: {}'.format(col))
    temp_pv=0
    for j in range (0,len(Time_CF)):
        temp_pv += (CF[j]/((1+int_df_tot[col][j]/100)**DF[j]))
    liab_plan_dict_totdf[col] = temp_pv
liab_plan_dict_totdf

In [ ]:
pv_df_totdf= pd.DataFrame(liab_plan_dict_totdf, index = ['Present Values']).transpose()
np.negative(pv_df_totdf['Present Values'])
pv_df_totdf.tail

In [ ]:
Plan_Return_YC_Totdf = np.zeros(len(liab_plan_dict_totdf)-1)
#for j in range (0,len(Time_DR)):
for i in range (0,len(liab_plan_dict_totdf)-1):
    #print(i)
#     print(IBT_Return_YC[i])
    Plan_Return_YC_Totdf[i] = ((pv_df_totdf['Present Values'][i+1])/pv_df_totdf['Present Values'][i])-1
Plan_Returns_YC_Totdf = pd.DataFrame(Plan_Return_YC_Totdf)
Plan_Returns_YC_Totdf

In [ ]:
#export monthly dataframe to excel
filepath = (PLAN+ ' Liability Returns & PV Pre 2010.xlsx')
writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
Plan_Returns_YC_Totdf.to_excel(writer, sheet_name='returns')
pv_df_totdf.to_excel(writer, sheet_name='pv')
writer.save()

Test Liability Return Data Pre-2010

In [ ]:
df_Raw_FTSE_YC = pd.read_excel("Raw FTSE Data.xlsx",skiprows = [0,2],usecols = [*range(0, 130)], na_values=[""])
#dataset.set_index('Date')
Raw_FTSE_YC = df_Raw_FTSE_YC.copy()
#Raw_FTSE_YC = pd.DataFrame(Raw_FTSE_YC)
#df_Raw_FTSE_YC.set_index('Date')
col = Raw_FTSE_YC.columns
Raw_FTSE_YC

In [ ]:
df_Raw_FTSE_YC_Pre2010 = pd.read_excel("Raw FTSE Data pre 2010.xlsx",skiprows = [0,2],usecols = [*range(1, 185)], na_values=[""])
#dataset.set_index('Date')
Raw_FTSE_YC_Pre2010 = df_Raw_FTSE_YC_Pre2010.copy()
#Raw_FTSE_YC = pd.DataFrame(Raw_FTSE_YC)
#df_Raw_FTSE_YC.set_index('Date')
col = Raw_FTSE_YC_Pre2010.columns
Raw_FTSE_YC_Pre2010

In [ ]:
Raw_FTSE_YC_Tot_1 = Raw_FTSE_YC.join(Raw_FTSE_YC_Pre2010)
Raw_FTSE_YC_Tot_1

In [ ]:
raw_liab_ibt_dict_tot_1={}
tr = Raw_FTSE_YC_Tot_1['Date']
# list of raw (not interpolated) times to maturity
yr = Raw_FTSE_YC_Tot_1[col] 
# list of raw (not interpolated) yields
t = list(frange(0.5, 30.08, (1/12))) # interpolating in range 1..30 years

for col in Raw_FTSE_YC_Tot_1.columns:
    #print('col: {}'.format(col))
    y = []
    interp = sp.interpolate.interp1d(tr, Raw_FTSE_YC_Tot_1[col] , bounds_error=False, fill_value=sp.nan)
#for col in Raw_FTSE_YC.columns:
    #for col in FTSE_YC.columns:
    for i in t:
            value = float(interp(i))
            if not sp.isnan(value): # Don't include out-of-range values
                y.append(value)
                End_Rate = [y[-1]] * 592
                Beg_Rate = [y[0]] * 5
            raw_liab_ibt_dict_tot_1[col] = Beg_Rate + y + End_Rate
len(raw_liab_ibt_dict_tot_1[col])

In [ ]:
int_df_tot_1 = pd.DataFrame(raw_liab_ibt_dict_tot_1)
int_df_tot_1 = int_df_tot_1.drop(['Date'], axis=1)
int_df_tot_1 = int_df_tot_1.iloc[:, ::-1]
int_df_tot_1[col]

In [ ]:
liab_plan_dict_totdf_1={}
for col in int_df_tot_1.columns:
    #print('col: {}'.format(col))
    temp_pv=0
    for j in range (0,len(Time_CF)):
        temp_pv += (CF[j]/((1+int_df_tot_1[col][j]/100)**DF[j]))
    liab_plan_dict_totdf_1[col] = temp_pv
liab_plan_dict_totdf_1

In [ ]:
pv_df_totdf_1= pd.DataFrame(liab_plan_dict_totdf_1, index = ['Present Values']).transpose()
np.negative(pv_df_totdf_1['Present Values'])
pv_df_totdf_1

In [ ]:
Plan_Return_YC_Totdf_1 = np.zeros(len(liab_plan_dict_totdf_1)-1)
#for j in range (0,len(Time_DR)):
for i in range (0,len(liab_plan_dict_totdf_1)-1):
    #print(i)
#     print(IBT_Return_YC[i])
    Plan_Return_YC_Totdf_1[i] = ((pv_df_totdf_1['Present Values'][i+1])/pv_df_totdf_1['Present Values'][i])-1
Plan_Returns_YC_Totdf_1 = pd.DataFrame(Plan_Return_YC_Totdf_1)
Plan_Returns_YC_Totdf_1

In [ ]:
#export monthly dataframe to excel
filepath = (PLAN+ ' Liability Returns & PV Pre 2010_1.xlsx')
writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
Plan_Returns_YC_Totdf_1.to_excel(writer, sheet_name='returns')
pv_df_totdf_1.to_excel(writer, sheet_name='pv')
writer.save()

In [ ]:
Plan_PV_DR_ERF = np.zeros(len(df_t))
for j in range (len(df_t)):
    for i in range (j,len(Time_CF_Tot)):
        Plan_PV_DR_ERF[j] += (CF_Tot[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
Plan_PV_DR_ERF[240]

In [ ]:
#fullfillment_return = .045
#MV_Assets = 13203547000

In [ ]:
#Plan_Asset_MV = np.zeros(len(df_t))
#for i in range(len(df_t)):
       #if (i == 0):
            
                #Plan_Asset_MV[i] = MV_Assets
        #else:
            
                #Plan_Asset_MV[i] = (Plan_Asset_MV[i-1]*(1+fullfillment_return)**DF[0].tolist())-CF[i-1]
#Plan_Asset_MV

In [ ]:
#df_Asset_MV = pd.DataFrame(Plan_Asset_MV)
#df_Asset_MV

In [ ]:
#FR = Plan_Asset_MV/Plan_PV_DR_ERF
#FR = pd.DataFrame(FR)
#FR.style.format("{:.2%}")

In [ ]:
#FS = Plan_Asset_MV[-1] - Plan_PV_DR_ERF[-1] 
#FS

In [ ]:
def full_solve(x0):
    return np.asscalar(fsolve(fullfillment_solve, x0=x0))


def fullfillment_solve(fullfillment_return):
    #fullfillment_return = .045
    MV_Assets = 13203547000
    Plan_PV_DR_ERF = np.zeros(len(df_t))
    Plan_Asset_MV = np.zeros(len(df_t))
    x = Years_to_FF/DF[0]
    x = x.astype(int)
    
    for j in range(len(df_t)):
        if (j == 0):
            for i in range(j,len(Time_CF_Tot)):
                Plan_PV_DR_ERF[j] += (CF_Tot[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
                Plan_Asset_MV[j] = MV_Assets
    
        else:
            for i in range(j,len(Time_CF_Tot)):
                Plan_PV_DR_ERF[j] += (CF_Tot[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
                Plan_Asset_MV[j] = (Plan_Asset_MV[j-1]*(1+fullfillment_return)**DF[0].tolist())-CF[j-1]
    
    return Plan_Asset_MV[x] - Plan_PV_DR_ERF[x]*FF_FR

In [ ]:
fullfill_irr = full_solve(x0=.01)
print("Base Case Fullfillment rate of return:%3.8f"%fullfill_irr)

In [ ]:
fullfillment_return = fullfill_irr
MV_Assets = 13203547000
Plan_PV_DR_ERF = np.zeros(len(df_t))
Plan_Asset_MV = np.zeros(len(df_t))
x = Years_to_FF/DF[0]
x = x.astype(int)
for j in range(len(df_t)):
    if (j == 0):
        for i in range(j,len(Time_CF_Tot)):
            Plan_PV_DR_ERF[j] += (CF_Tot[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
            Plan_Asset_MV[j] = MV_Assets
    
    else:
        for i in range(j,len(Time_CF_Tot)):
            Plan_PV_DR_ERF[j] += (CF_Tot[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
            Plan_Asset_MV[j] = (Plan_Asset_MV[j-1]*(1+fullfillment_return)**DF[0].tolist())-CF[j-1]
    
Plan_Asset_MV[x] - Plan_PV_DR_ERF[x]*FF_FR

In [ ]:
Excess_Return = fullfill_irr - Plan_DR['IRR'][-1]
#Excess_Return = pd.DataFrame(Excess_Return)
#Excess_Return.style.format("{:.2%}")
Excess_Return

In [45]:
df_PVFB = pd.read_excel("YE2020 PBO SC Cashflows_QP.xlsx",sheet_name = "PVFB Cashflows Summary", skiprows = [0,1,2,3,4,5,6,7,8], usecols=[0,1,2,3,4], na_values=[""],index_col=0)
#dataset.set_index('Year')
df_PVFB

            Time  Retirement    Pension        IBT
Year
2021-12-31   NaN  1191188083  263594852  413445883
2022-12-31   NaN  1248499566  295780608  453555576
2023-12-31   NaN  1307271855  330113229  494129422
2024-12-31   NaN  1367042353  366427094  636735159
2025-12-31   NaN  1427103788  404119980  789591285
...          ...         ...        ...        ...
2096-12-31   NaN      222792    6623550   16748288
2097-12-31   NaN      179373    4924667   12475850
2098-12-31   NaN      149037    3596829    9127565
2099-12-31   NaN      127193    2577772    6552450
2100-12-31   NaN           0          0          0

[80 rows x 4 columns]

In [46]:
df_PVFB = df_PVFB.divide(12)
df_PVFB

            Time    Retirement       Pension           IBT
Year
2021-12-31   NaN  9.926567e+07  2.196624e+07  3.445382e+07
2022-12-31   NaN  1.040416e+08  2.464838e+07  3.779630e+07
2023-12-31   NaN  1.089393e+08  2.750944e+07  4.117745e+07
2024-12-31   NaN  1.139202e+08  3.053559e+07  5.306126e+07
2025-12-31   NaN  1.189253e+08  3.367666e+07  6.579927e+07
...          ...           ...           ...           ...
2096-12-31   NaN  1.856600e+04  5.519625e+05  1.395691e+06
2097-12-31   NaN  1.494775e+04  4.103889e+05  1.039654e+06
2098-12-31   NaN  1.241975e+04  2.997358e+05  7.606304e+05
2099-12-31   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-12-31   NaN  0.000000e+00  0.000000e+00  0.000000e+00

[80 rows x 4 columns]

In [47]:
df=df_PVFB.copy()

#set start date and end date
start_date = df.index.min() - pd.DateOffset(day=0)
end_date = df.index.max() + pd.DateOffset(day=31)

#create new dataframe monthly index
dates = pd.date_range(start_date, end_date, freq='M')
dates.name = 'date'

#reindex yearly dataframe to monthly dataframe
df = df.reindex(dates, method='ffill')

#export monthly dataframe to excel
#filepath = 'monthly_data.xlsx'
#writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
#df.to_excel(writer, sheet_name='data')
#writer.save()
df_PVFB = df
df_PVFB

            Time    Retirement       Pension           IBT
date
2021-12-31   NaN  9.926567e+07  2.196624e+07  3.445382e+07
2022-01-31   NaN  9.926567e+07  2.196624e+07  3.445382e+07
2022-02-28   NaN  9.926567e+07  2.196624e+07  3.445382e+07
2022-03-31   NaN  9.926567e+07  2.196624e+07  3.445382e+07
2022-04-30   NaN  9.926567e+07  2.196624e+07  3.445382e+07
...          ...           ...           ...           ...
2100-08-31   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-09-30   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-10-31   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-11-30   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-12-31   NaN  0.000000e+00  0.000000e+00  0.000000e+00

[949 rows x 4 columns]

In [48]:
df_PVFB_add = pd.read_excel("YE2020 PBO SC Cashflows_QP.xlsx",sheet_name = "PVFB Cashflows Summary 2021", usecols=[0,1,2,3,4], na_values=[""],index_col=0)
#dataset.set_index('Year')
df_PVFB_add

            Time    Retirement       Pension           IBT
Year
2021-10-31   NaN  9.406271e+07  1.941173e+07  3.113897e+07
2021-11-30   NaN  9.406271e+07  1.941173e+07  3.113897e+07
2021-12-31   NaN  9.406271e+07  1.941173e+07  3.113897e+07

In [49]:
df_PVFB  = df_PVFB_add.append(df_PVFB)
df_PVFB

            Time    Retirement       Pension           IBT
2021-10-31   NaN  9.406271e+07  1.941173e+07  3.113897e+07
2021-11-30   NaN  9.406271e+07  1.941173e+07  3.113897e+07
2021-12-31   NaN  9.406271e+07  1.941173e+07  3.113897e+07
2021-12-31   NaN  9.926567e+07  2.196624e+07  3.445382e+07
2022-01-31   NaN  9.926567e+07  2.196624e+07  3.445382e+07
...          ...           ...           ...           ...
2100-08-31   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-09-30   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-10-31   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-11-30   NaN  1.059942e+04  2.148143e+05  5.460375e+05
2100-12-31   NaN  0.000000e+00  0.000000e+00  0.000000e+00

[952 rows x 4 columns]

In [50]:
df_PVFB = df_PVFB.subtract(df_CF)
df_PVFB

            Time    Retirement       Pension            IBT
2021-10-31   NaN  1.895772e+05  22076.666667   63332.083333
2021-11-30   NaN  1.895772e+05  22076.666667   63332.083333
2021-12-31   NaN  1.895772e+05  22076.666667   63332.083333
2021-12-31   NaN -1.133615e+06  80064.427662 -879400.637677
2022-01-31   NaN -1.133615e+06  80064.427662 -879400.637677
...          ...           ...           ...            ...
2100-08-31   NaN  9.927308e+02  83228.254265  496064.639074
2100-09-30   NaN  9.927308e+02  83228.254265  496064.639074
2100-10-31   NaN  9.927308e+02  83228.254265  496064.639074
2100-11-30   NaN  9.927308e+02  83228.254265  496064.639074
2100-12-31   NaN -8.665401e+03 -93484.503561  -34608.661406

[952 rows x 4 columns]

In [87]:
# IBT or Pension or Retirement
# PLAN = 'IBT'
PLAN = 'Retirement'
# PLAN = 'Pension'


mv_asset_dict = {'IBT':13203547316.24,
                'Retirement':28189152287.09,
                'Pension':11508277149.59}

# % Probability of Sponsor Not Contributing Service Costs
UPS_Contr_Pctg = 0.00

# Target Years to be "Fully Funded"
Years_to_FF = 20

# Target Fully Funded Ratio
FF_FR = 1.05

Plan_DR = pd.read_excel("UPS Pension - Historical Liability Data - 9.30.21.xlsx",sheet_name = PLAN ,skiprows = [0,1,2,3],usecols=[1,2], na_values=[""],index_col=0)
#dataset.set_index('Year')
Plan_DR

                 IRR
Date
2009-12-31  0.059373
2010-01-31  0.058109
2010-02-28  0.058852
2010-03-31  0.059173
2010-04-30  0.056593
...              ...
2021-05-31  0.029939
2021-06-30  0.027828
2021-07-31  0.026312
2021-08-31  0.026872
2021-09-30  0.030700

[142 rows x 1 columns]

In [88]:
col_PVFB = df_PVFB.columns
col_CF = df_CF.columns
df_CF_Tot_PVFB = UPS_Contr_Pctg*df_PVFB[col_PVFB] + df_CF[col_CF]
# df_CF_Tot_PVFB

In [89]:
df_CF_Tot_PVFB['Time'] = df_t.values
# df_CF_Tot_PVFB

In [90]:
CF_Tot_PVFB = df_CF_Tot_PVFB[PLAN]
Time_CF_Tot_PVFB = df_CF_Tot_PVFB.index
DF_Tot_PVFB=df_CF_Tot_PVFB['Time']

In [91]:
liab_plan_dict_tot_pvfb={}
for col in int_df.columns:
    #print('col: {}'.format(col))
    temp_pv=0
    for j in range (0,len(Time_CF)):
        temp_pv += (CF_Tot_PVFB[j]/((1+int_df[col][j]/100)**DF_Tot_PVFB[j]))
    liab_plan_dict_tot_pvfb[col] = temp_pv
# liab_plan_dict_tot_pvfb

In [92]:
pv_df_tot_pvfb = pd.DataFrame(liab_plan_dict_tot_pvfb, index = ['Present Values']).transpose()

# pv_df_tot_pvfb

In [93]:
Plan_Return_YC_Totdf_pvfb = np.zeros(len(liab_plan_dict_tot_pvfb)-1)
#for j in range (0,len(Time_DR)):
for i in range (0,len(liab_plan_dict_tot_pvfb)-1):
    #print(i)
#     print(IBT_Return_YC[i])
    Plan_Return_YC_Totdf_pvfb[i] = ((pv_df_tot_pvfb['Present Values'][i+1])/pv_df_tot_pvfb['Present Values'][i])-1
Plan_Return_YC_Totdf_pvfb = pd.DataFrame(Plan_Return_YC_Totdf_pvfb)
# Plan_Return_YC_Totdf_pvfb

In [94]:
#export monthly dataframe to excel
# filepath = (PLAN+ ' PVFB Liability Returns & PV.xlsx')
# writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
# Plan_Return_YC_Totdf_pvfb.to_excel(writer, sheet_name='returns')
# pv_df_tot_pvfb.to_excel(writer, sheet_name='pv')
# writer.save()

In [95]:
def full_solve(x0):
    return np.asscalar(fsolve(fullfillment_solve, x0=x0))


def fullfillment_solve(fullfillment_return):
    #fullfillment_return = .045
    MV_Assets = mv_asset_dict[PLAN]
    Plan_PV_DR_ERF = np.zeros(len(df_t))
    Plan_Asset_MV = np.zeros(len(df_t))
    x = Years_to_FF/DF[0]
    x = x.astype(int)
    
    for j in range(len(df_t)):
        if (j == 0):
            for i in range(j,len(Time_CF_Tot_PVFB)):
                Plan_PV_DR_ERF[j] += (CF_Tot_PVFB[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
                Plan_Asset_MV[j] = MV_Assets
    
        else:
            for i in range(j,len(Time_CF_Tot_PVFB)):
                Plan_PV_DR_ERF[j] += (CF_Tot_PVFB[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
                Plan_Asset_MV[j] = (Plan_Asset_MV[j-1]*(1+fullfillment_return)**DF[0].tolist())-CF_Tot_PVFB[j-1]
    
    return Plan_Asset_MV[x] - Plan_PV_DR_ERF[x]*FF_FR

In [96]:
fullfill_irr = full_solve(x0=.01)
print("Base Case Fullfillment rate of return:%3.8f"%fullfill_irr)

Base Case Fullfillment rate of return:0.04445046

In [97]:
fullfillment_return = fullfill_irr
MV_Assets = mv_asset_dict[PLAN]
Plan_PV_DR_ERF = np.zeros(len(df_t))
Plan_Asset_MV = np.zeros(len(df_t))
x = Years_to_FF/DF[0]
x = x.astype(int)
for j in range(len(df_t)):
    if (j == 0):
        for i in range(j,len(Time_CF_Tot_PVFB)):
            Plan_PV_DR_ERF[j] += (CF_Tot_PVFB[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
            Plan_Asset_MV[j] = MV_Assets
    
    else:
        for i in range(j,len(Time_CF_Tot_PVFB)):
            Plan_PV_DR_ERF[j] += (CF_Tot_PVFB[i]/((1+Plan_DR['IRR'][-1])**DF[i-j]))
            Plan_Asset_MV[j] = (Plan_Asset_MV[j-1]*(1+fullfillment_return)**DF[0].tolist())-CF_Tot_PVFB[j-1]
    
Plan_Asset_MV[x] - Plan_PV_DR_ERF[x]*FF_FR

-0.00127410888671875

In [98]:
Excess_Return = fullfill_irr - Plan_DR['IRR'][-1]
#Excess_Return = pd.DataFrame(Excess_Return)
#Excess_Return.style.format("{:.2%}")
Excess_Return

0.013750460154569214